<div id="ajax_produit_specialite_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification du lien #{{ produitSpecialite.id }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
	    {{ form_row(form.produit) }}
		{{ form_row(form.specialite) }}
		{{ form_row(form.quantite) }}
	</div>
	
	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}
</div>

{% block javascripts %}
	<script type="text/javascript">
    
    	$('#modal_{{ type }}_global').modal({
    		   'show' : true,
    		   'backdrop' : 'static'
    	});
    	
		var url = '{{path('produit_specialite_ajax_edit', {'id': produitSpecialite.id, 'type':type, 'page': page }) }}';
		ProduitSpecialite.EventEditSubmit(url);
		
	</script>
{% endblock %}