<div id="bloc_produit_etablissement" class="card">
	<div class="card-header">
    	Etablissments
    	<a href="{{ path('produit_etablissement_ajax_add', {'id' : produit.id}) }}" id="btn-add-produit-etablissement" class="float-right"><span class="oi oi-link-intact"></span> Nouveau lien avec un établissement</a>
    </div>
    <div class="card-body">
    	<table class="table table-sm table-striped">
     		<tr>
       			{% if is_granted('ROLE_ADMIN') %}
    	   			<th> Etablissement </th>
           		{% endif %}
           		<th> Quantité </th>
           		<th> Date </th>
           		<th></th>
           	</tr>
           	{% for produitEtablissement in produit.produitEtablissements %}
               	<tr>
            	    {% if is_granted('ROLE_ADMIN') %}
               			<td> {{ produitEtablissement.etablissement.nom }} </td>
               		{% endif %}
               		<td> {{ produitEtablissement.quantite }} </td>
               		<td> {{ produitEtablissement.date | date('d/m/Y H:i')}} </td>
              		<td>
              			<a href="{{ path('produit_etablissement_ajax_edit', {'id' : produitEtablissement.id}) }}" id="btn-edit-produit-etablissement-{{ produitEtablissement.id }}"  title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                	</td>
            	</tr>
          	{% endfor %}
        </table>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
            var id_btn_add = '#btn-add-produit-etablissement';
            ProduitEtablissement.EventAdd(id_btn_add);

			//on associe une action pour chaque bouton edit ou delete
            {% for produitEtablissement in produit.produitEtablissements %}
            	var id_btn_edit_{{ produitEtablissement.id }} = '#btn-edit-produit-etablissement-' + {{ produitEtablissement.id }};
            	ProduitEtablissement.EventEdit(id_btn_edit_{{ produitEtablissement.id }});
    		    
            {% endfor %}
            
        </script>
    {% endblock %}
    
</div>