<div id="bloc_evenement_specialite" class="card">
	<div class="card-header">
		{% if type == 'evenement' %}
        	Spécialités
        	<a href="{{ path('specialite_evenement_ajax_add', {'id' : objet.id, 'type':type}) }}" id="btn-add-specialite-event" class="float-right"><span class="oi oi-link-intact"></span> Nouveau lien avec une spécialité</a>
        {% elseif type == 'specialite' %}
    		Evénements
        	<a href="{{ path('specialite_evenement_ajax_add', {'id' : objet.id, 'type':type}) }}" id="btn-add-specialite-event" class="float-right"><span class="oi oi-link-intact"></span> Nouveau lien avec un événement</a>
        {% endif %}
    </div>
    <div class="card-body">
    	<table class="table table-sm table-striped">
     		<tr>
     			{% if type == 'evenement' %}
        	   		<th> Etablissement </th>
               		<th> Spécialité </th>
               	{% elseif type == 'specialite' %}
               		<th> Evénement </th>
           		{% endif %}
           		<th> Statut </th>
           		<th> Date </th>
           		<th></th>
           	</tr>
           	
               	{% for connexion in connexions %}
                    {% for lien in connexion %}	
                   		<tr>
                   		    {% if type == 'evenement' %}
               		            <td>{% if loop.index0 == 0 %}{{ lien.etablissement }}{% endif %}</td>
               					<td>{{ lien.specialite }}</td>
               		       	{% elseif type =='specialite' %}
               		       		<td> {{ lien.evenement }} </td>
               		       	{% endif %}
               				<td>{{ lien.statut | statutSpeEvent }}</td>
               				<td>{{ lien.date | date('d/m/Y H:i') }}</td>
               				<td>
               				    {% if is_granted("ROLE_ADMIN") %}
                                	<a href="{{ path('specialite_evenement_ajax_edit', {'id' : lien.id, 'type': type}) }}" id="btn-edit-specialite-event-{{ lien.id }}" title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                            	{% endif %}
                        	</td>
               			</tr>
           		    {% endfor %}
           	    {% endfor %}
       	    
        </table>
        
        {% if objet.specialiteEvenements is empty %}
           	<p class="text-info text-center">Il  n'y a 
           	{% if type == 'evenement' %}
           		aucune spécialité associée à cet événement.</p>
          	{% elseif type == 'specialite' %}
          		aucun événement associé à cette spécialité.</p>
          	{% endif %}
        {% endif %}
        
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
            var id_btn_add = '#btn-add-specialite-event';
            SpecialiteEvenement.EventAdd(id_btn_add);

			//on associe une action pour chaque bouton edit ou delete

                {% for connexion in connexions %}
        	        {% for lien in connexion %}
        	        SpecialiteEvenement.EventEdit('#btn-edit-specialite-event-' + {{ lien.id }});
        	       	{% endfor %}
                {% endfor %}
			
        </script>
    {% endblock %}
    
</div>

<hr>