<div id="ajax_question_edit">

    {{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Edition de la question #
			{{ question.id }}
		</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body">
		
		<div class="card shadow-sm">
         	<div class="card-header">
            	Aperçu
            	<div class="float-right">Message d'erreur <input type="checkbox" id="checkbox_msg_erreur"></div>
          	</div>
          	<div class="card-body">
            	<div id="content-preview-question">

            	</div>
          </div>
        </div>
        
        <hr />
        
	{{ form_row(form.type, {"id":"question_liste_select_type"}) }}

	
	<div class="row">
		<div class="col-md-6">
			<h6>Configuration simple</h6>
			{{ form_row(form.libelle, {"id":"question_libelle"}) }}
			{{ form_row(form.libelle_bottom, {"id":"question_libelle_bottom"}) }}

			
			<div id="input-liste-val">
				<hr />
				<div class="row">
					<div class="col-md-9">
						Valeur(s) possible(s) pour la réponse : 
					</div>
					<div class="col-md-3">
						<a class="btn btn-sm btn-outline-success float-right" id="btn-add-input-list" href="#"><span class="oi oi-plus"></span></a>
					</div>
				</div>
				<div id="contener-input-liste-val">
				
				</div>
				<hr />
			</div>
			<div>
			{{ form_row(form.liste_valeur, {"id":"question_liste_valeur"})}}
			</div>
			<div id="contener-input-def-value">
			</div>
			{{ form_row(form.valeur_defaut, {"id":"question_valeur_defaut"})}}
		
		</div>
		<div class="col-md-6">
			<h6>Avancé</h6>
			{{ form_row(form.libelle_top, {"id":"question_libelle_top"}) }}
			{{ form_row(form.message_erreur, {"id":"question_message_erreur"}) }}
			{{ form_row(form.regles, {"id":"question_regles"}) }}
			{{ form_row(form.ordre, {"id":"question_ordre"}) }}
         	<div class="row">
            	<div class="col-md-6">
                    {{ form_row(form.obligatoire, {"id":"question_obligatoire"}) }}
               	</div>
               	<div class="col-md-6">
                    {{ form_row(form.disabled, {"id":"question_disabled"}) }}
              	</div>
        	</div>
    	</div>
	</div>
	</div>
	
	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	    {# form_rest(form) #}
	{{ form_end(form) }}
</div>

 {% block script %}
 	<script src="{{ asset('assets/js/question/Preview.js') }}?{{ date().timestamp }}"></script>
 {% endblock %}

{% block javascripts %}
<script type="text/javascript">
    
    $('#modal_questionnaire_global').modal({
    	   'show' : true,
    	   'backdrop' : 'static'
    });

    //$('#ajax_question_edit #question_liste_valeur').parent().hide();
    
	var url = '{{path('question_ajax_edit', {'id': question.id }) }}';
	Question.EventEditSubmit(url);

	$('#ajax_question_edit #question_liste_valeur').parent().hide();
	
	var params = {
			id_global : '#ajax_question_edit',
			id_preview : '#content-preview-question',
			def_selected_valeur : $('#question_valeur_defaut').val(),
			liste_type_json : JSON.parse('{{ liste_type|json_encode() | raw }}')
	};

	Preview.Launch(params);
	Preview.Load();
	Preview.Event();
	Preview.subRepeatEvent();

    </script>
{% endblock %}