{% extends 'base.html.twig' %}

{% block title %} Nouveau patient {% endblock %}

{% block body %}

<h1>Ajout d'un nouveau patient</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.date_naissance) }}
	{% if etablissements is not empty %}
	
	<div id="bloc_etablissement">
	    <div class="form-group">
        	<label for="patient_etablissement">Etablissement</label> 
            <select id="patient_etablissement" name="patient[etablissement]" class="form-control">
                {%  for etablissement in etablissements %}
            		<option value="{{ etablissement.id }}">{{ etablissement.nom }}</option>
            	{% endfor %}
            </select>
    	</div>
	</div>
	{% endif %}
	<div id="bloc_specialite">
	    {{ form_row(form.specialite) }}
	</div>
	{{ form_row(form.PMR) }}

	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.familles) }}
      		<a href="#" id="add_famille" class="btn btn-primary btn-sm">Ajouter une famille</a>
  	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/utils/FormAddCollection.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/specialite/Specialite.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				id_container : 'div#patient_familles',
				id_btn_add : '#add_famille',
				id_label_fieldset : '#label_collection_type',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	FormAddCollection.Launch(params);
		FormAddCollection.Event();

		{% if etablissements is not empty %}
    		var params_spec = {
    				url_ajax_see : '{{ path('ajax_add_dropdown', {'objet': 'patient'}) }}',
    				id_specialite : '#bloc_specialite',
    				id_bloc_etablissement : '#bloc_etablissement #patient_etablissement'
    		};
            
        	Specialite.Launch(params_spec);
        	Specialite.LoadDropdownSpecialite();
    		Specialite.EventChange('#patient_save');
		{% endif %}
    });
    
    </script> 

{% endblock %}