<div id="ajax_patient_famille_see">
    <div class="card">
        <div class="card-header">
        	Famille
        	<a href="{{ path('famille_ajax_add', {'id' : patient.id}) }}" id="btn-add-famille" class="float-right"><span class="oi oi-person"></span> Nouvelle famille</a>
        </div>
        
        <div class="card-body">
          	<table class="table table-sm table-striped">
           		<tr>
               		<th> Parent </th>
               		<th> Lien avec le patient </th>
               		<th> Email </th>
               		<th> N° de téléphone </th>
               		<th> Adresse </th>
               		<th> Mobilité réduite </th>
               		<th></th>
               	</tr>
               	
                {% for famille in familles %}
               		<tr>
               			<td>{{ famille.prenom }} {{ famille.nom }} </td>
                		<td>{{ famille.lienFamille | lienParente() }}</td>
                		<td>{{ famille.email }} </td>
                		<td>{{ famille.numeroTel }} </td>
                		<td>
                		    {{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}<br />
                		    {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }}
                		    <a href="{{ path('famille_adresse_ajax_edit', {'id' : famille.familleAdresse.id}) }}" id="btn-edit-famille-adresse-{{ famille.familleAdresse.id }}"  title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                		</td>
                		<td>{%if famille.pmr == 1 %} Oui {% else %} Non {% endif %}</td>
                		<td>
            		        <a href="{{ path('famille_ajax_edit', {'id' : famille.id}) }}" id="btn-edit-famille-{{ famille.id }}"  title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                		    {% if is_granted("ROLE_ADMIN") %}
                		        {{ actionDelete(famille.disabled, path('famille_delete', {'id' : famille.id}), famille.id) | raw }}
                		    {% endif %}
                		</td>
                	</tr>
                
                {% endfor %}
        	</table>
        	
        	{% if patient.familles is empty %}
            	<p class="text-info text-center">Il  n'y a aucune famille associée à ce patient.</p>
            {% endif %}
        	
        </div>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
            var id_btn_add = '#btn-add-famille';
            Famille.EventAdd(id_btn_add);

    		//on associe une action pour chaque bouton edit ou delete
            {% for famille in familles %}
            	var id_btn_edit_{{ famille.id }} = '#btn-edit-famille-' + {{ famille.id }};
            	Famille.EventEdit(id_btn_edit_{{ famille.id }});
    			
           		var id_btn_edit_adresse_{{ famille.familleAdresse.id }} = '#btn-edit-famille-adresse-' + {{ famille.familleAdresse.id }};
            	Famille.EventEdit(id_btn_edit_adresse_{{ famille.familleAdresse.id }});

            	{% if is_granted("ROLE_ADMIN") %}
            		var id_delete = '#delete-' + {{ famille.id }};
					Famille.EventDelete(id_delete);
    		    {% endif %}
				
            {% endfor %}
        </script>
    {% endblock %}
</div>