	<div class="card shadow-sm">
         <div class="card-header bg-light">
           	 <b>Patient :</b> {{ patient.prenom }} {{ patient.nom }}
           	 {% if is_granted("ROLE_ADMIN") %}
           		</br><b>Actif :</b> {{ patient.disabled | actif }}
           	{% endif %}
           	<div class="float-right"> 
           	    {{ editObjet(path('patient_ajax_edit', {'id': patient.id }), "Editer le patient", "btn-edit-patient") | raw }}
           	    {% if is_granted("ROLE_ADMIN") %}
           	        {{ deleteObjet(patient.disabled, path('patient_delete', {'id': patient.id, 'page' : 1 }), 'btn-disabled-patient') | raw }}
           	    {% endif %}
           	</div>
         </div>
         <div class="card-body">
          	<b>Date naissance :</b> {{ patient.dateNaissance | date('d/m/Y') }} </br>
          	<b>Personne à mobilité réduite :</b> {{ patient.pmr | bool }}<br>
           	<b> Spécialité :</b> {{ patient.specialite.service }} ({{ patient.specialite.etablissement.nom }})
         </div>
    </div>
    
    <hr>
    
{% block javascripts %}

    <script type="text/javascript">

    $(document).ready(function() {
        var id_btn_patient = '#btn-edit-patient';
        Patient.EventEdit(id_btn_patient);

        var id_btn_delete_patient = '#btn-disabled-patient';
        Patient.EventDelete(id_btn_delete_patient);
    });
    
    </script> 

{% endblock %}