{% extends 'base.html.twig' %}

{% block title %} Edition d'un patient {% endblock %}

{% block body %}

<h1>Modification du patient {{ patient.prenom }} {{ patient.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.date_naissance) }}
	{% if etablissements is not empty %}
    	<div id="bloc_etablissement">
    	    <div class="form-group">
            	<label for="patient_etablissement">Etablissement</label> 
                <select id="patient_etablissement" name="patient[etablissement]" class="form-control">
                    {%  for etablissement in etablissements %}
                		<option {% if etablissement.id == patient.specialite.etablissement.id %} selected {% endif %} value="{{ etablissement.id }}">{{ etablissement.nom }}</option>
                	{% endfor %}
                </select>
        	</div>
    	</div>
	{% endif %}
	<div id="bloc_specialite">
	    {{ form_row(form.specialite) }}
	</div>
	{{ form_row(form.PMR) }}
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/specialite/Specialite.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {

		var params_spec = {
				url_ajax_see : '{{ path('patient_ajax_edit_specialite', {'patient_id': patient.id}) }}',
				id_specialite : '#bloc_specialite',
				id_bloc_etablissement : '#bloc_etablissement #patient_etablissement'
		};
        
    	Specialite.Launch(params_spec);
    	//Specialite.LoadDropdownSpecialite();
		Specialite.EventChange('#patient_save');
    });
    
    </script> 

{% endblock %}