{% extends 'base.html.twig' %}

{% block title %} Edition d'un patient {% endblock %}

{% block body %}

<h1>Modification du patient {{ patient.prenom }} {{ patient.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.date_naissance) }}
	{{ form_row(form.specialite) }}
	{{ form_row(form.PMR) }}

	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.familles) }}
  	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}