{% extends 'base.html.twig' %}

{% block title %} Patients{% endblock %}

{% block body %}

<h1>Gestion des patients</h1>

{% include 'elements/arborescence.html.twig' %}


<div class="card">
	<div class="card-header">
    	{{ pagination.nb_elements }} patients - Page {{ pagination.page }} / {{ pagination.pages_count }}
  		<a href="{{ path('patient_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-person"></span> Nouveau patient</a>
  		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
  	</div>
  	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('patient_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('patient_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('patient_listing', {'page' : pagination.page, 'field' : 'prenom'} ), 'Prénom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('patient_listing', {'page' : pagination.page, 'field' : 'date_naissance'} ), 'Date de naissance', current_order, current_field) | raw }}</th>
        		<th>Service</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('patient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Patient-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('patient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Patient-nom', current_search, 'Nom') | raw }}</td>
        		<td>{{ inputFilter(path('patient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Patient-prenom', current_search, 'Prénom') | raw }}</td>
        		<td>{{ inputFilter(path('patient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Patient-date_naissance', current_search, 'Date de naissance') | raw }}</td>
        		<td>{{ inputFilter(path('patient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Patient-specialite-service', current_search, 'Service') | raw }}</td>
        		<td></td>
        	</tr>
        	
  		{% for patient in patients %}
        		<tr>
        			<td>{{ patient.id }}</td>
        			<td>{{ patient.nom }}</td>
        			<td>{{ patient.prenom }}</td>
        			<td>{{ patient.dateNaissance | date('d/m/Y') }}</td>
        			<td>{{ patient.specialite.service }}</td>
        			<td>
        			    {{ actionSee(path('patient_see', {'id' : patient.id, 'page' : pagination.page})) | raw }}
        			    {{ actionEdit(path('patient_edit', {'id' : patient.id, 'page' : pagination.page})) | raw }}
        			   
        			    {% if is_granted("ROLE_ADMIN") %}
        			        {{ actionDelete(patient.disabled, path('patient_delete', {'id' : patient.id, 'page' : pagination.page})) | raw }}
        			    {% endif %}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if patients is empty %}
        	<p class="text-info text-center">Il  n'y a aucun patient correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
	  
{% endblock %}
