{% extends 'base.html.twig' %}

{% block title %} Fiche d'un patient {% endblock %}

{% block body %}

    <h1>Fiche du patient {{ patient.prenom }} {{ patient.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_patient">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
	
    <div id="bloc_patient_famille">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
	
    <div id="bloc_patient_historique">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_patient_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/famille/Famille.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/patient/Patient.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/historique/Historique.js') }}?{{ date().timestamp }}"></script>
 	
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    $('#bloc_patient_historique').showLoading();
    
    $(document).ready(function() {

    	var paramsP = {
				url_ajax_see : '{{path('patient_ajax_see', {'id': patient.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_patient_global',
				id_global : '#bloc_patient'
		};
        
    	Patient.Launch(paramsP);
    	Patient.LoadPatient();
        
		var paramsF = {
				url_ajax_see : '{{path('famille_ajax_see', {'id': patient.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_patient_global',
				id_global : '#bloc_patient_famille',
		};
        
    	Famille.Launch(paramsF);
    	Famille.LoadFamille();

    	var paramsH = {
				url_ajax_see : '{{path('historique_ajax_see', {'id': patient.id, 'type': 'patient'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_patient_global',
				id_global : '#bloc_patient_historique',
		};
        
		Historique.Launch(paramsH);
		Historique.LoadHistorique();
		
    	Pagination.Launch();
    });
    
    </script>
{% endblock %}