{% extends 'base.html.twig' %}

{% block title %} Fiche d'un patient {% endblock %}

{% block body %}

<h1>Fiche du patient {{ patient.prenom }} {{ patient.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<table  class="table table-sm">
	<tr>
		<th scope="col"> Prénom </th>
		<td> {{ patient.prenom }} </td>
	</tr>
	<tr>
		<th scope="col"> Nom </th>
		<td> {{ patient.nom }} </td>
	</tr>
	<tr>
		<th scope="col"> Date de naissance </th>
		<td> {{ patient.dateNaissance | date('d/m/Y') }} </td>
	</tr>
	<tr>
		<th scope="col"> Personne à mobilité réduite </th>
		<td> {{ patient.pmr | bool }} </td>
	</tr>
	<tr>
		<th scope="col"> Service </th>
		<td> {{ patient.specialite.service }} </td>
	</tr>
</table>
<br />

<div id="bloc_patient_famille">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="progress" style="height: 25px;">
				<div class="progress-bar progress-bar-striped progress-bar-animated"
					role="progressbar" aria-valuenow="75" aria-valuemin="0"
					aria-valuemax="100" style="width: 50%">Chargement des
					informations du patient...</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_famille_global" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="bloc_modal"></div>
	</div>
</div>

{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/famille/Famille.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				url_ajax_see : '{{path('patient_famille_ajax_see', {'id': patient.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_famille_global',
				id_global : '#bloc_patient_famille',
		};
        
    	Famille.Launch(params);
    	Famille.LoadFamille();
    });
    
    </script>
{% endblock %}