<div id="ajax_{{ type }}_specialite">
	<div class="form-group">
    	<label for="{{ type }}_specialite">Spécialité</label> 
        <select id="{{ type }}_specialite" name="{{ type }}[specialite]" class="form-control">
            {%  for specialite in specialites %}
            	<option {% if specialite.id == select_specialite %} selected {% endif %} value="{{ specialite.id }}">{{ specialite.service }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
    	{% if(specialites is empty) %}
			$('#ajax_{{ type }}_specialite').hide();
    	{% endif %}
    	$('#{{ type }}_save').prop('disabled', false);
    	
    </script>
{% endblock %}