<div id="ajax_etablissement_specialite_see">
    <div class="card">
        <div class="card-header">
        	Spécialités
        	<a href="{{ path('specialite_ajax_add', {'id' : etablissement.id}) }}" id="btn-add-specialite" class="float-right"><span class="oi oi-medical-cross"></span> Nouvelle spécialité</a>
        </div>
        
        <div class="card-body">
        
            <table class="table table-sm table-striped">
            	<tr>
                	<th> Service </th>
                    <th> Code Logistique </th>
                    <th> Service pour adultes </th>
                    <th> Service pour enfants </th>
                    <th></th>
                </tr>
                
                {% for specialite in specialites %}
                	<tr>
                    	<td>{{ specialite.service }} </td>
                        <td>{{ specialite.codeLogistique }}</td>
                        <td>{{ specialite.adulte | bool }} </td>
                        <td>{{ specialite.pediatrie | bool }} </td>
                        <td>
            		        <a href="{{ path('specialite_ajax_edit', {'id' : specialite.id}) }}" id="btn-edit-specialite-{{ specialite.id }}"  title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                		    {{ actionDelete(specialite.disabled, path('specialite_delete', {'id' : specialite.id}), specialite.id) | raw }}
                		</td>
                    </tr>
                
                {% endfor %}
        	</table>
        	
        	{% if etablissement.specialites is empty %}
            	<p class="text-info text-center">Il  n'y a aucune spécialité associée à cet établissement.</p>
            {% endif %}
        	
        </div>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
            var id_btn_add = '#btn-add-specialite';
            Specialite.EventAdd(id_btn_add);

          //on associe une action pour chaque bouton edit ou delete
            {% for specialite in specialites %}
            	var id_btn_edit_{{ specialite.id }} = '#btn-edit-specialite-' + {{ specialite.id }};
            	Specialite.EventEdit(id_btn_edit_{{ specialite.id }});
				
            	var id_delete_{{ specialite.id }} = '#delete-' + {{ specialite.id }};
				Specialite.EventDelete(id_delete_{{ specialite.id }});
    		    
            {% endfor %}
            
        </script>
    {% endblock %}
</div>

<hr>