<div id="ajax_specialite_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification de la spécialité #{{ specialite.id }} - {{ specialite.service }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
        {{ form_row(form.etablissement) }}
		{{ form_row(form.service) }}
		{{ form_row(form.code_logistique) }}
		{{ form_row(form.adulte) }}
		{{ form_row(form.pediatrie) }}
    </div>

	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}
</div>

	{% block javascripts %}
	<script type="text/javascript">
    
    	$('#modal_{{ type }}_global').modal({
 		   'show' : true,
 		   'backdrop' : 'static'
 		});
    	
		var url = '{{path('specialite_ajax_edit', {'id': specialite.id }) }}';
		
		Specialite.EventEditSubmit(url);
	
	    </script>
	{% endblock %}