{% extends 'base.html.twig' %}

{% block title %} Fiche d'une spécialité {% endblock %}

{% block body %}

<h1>Fiche de la spécialité #{{ specialite.id }} - {{ specialite.service }}</h1>

{% include 'elements/arborescence.html.twig' %}

    <div id="bloc_specialite">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_specialite_patient">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_specialite_produit">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_specialite_evenement">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <div id="bloc_specialite_historique">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_specialite_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>

{% endblock %}

{% block script %}
	<script src="{{ asset('assets/js/specialite/Specialite.js') }}?{{ date().timestamp }}"></script>
	<script src="{{ asset('assets/js/produit_specialite/ProduitSpecialite.js') }}?{{ date().timestamp }}"></script>
	<script src="{{ asset('assets/js/specialite_evenement/SpecialiteEvenement.js') }}?{{ date().timestamp }}"></script>
	<script src="{{ asset('assets/js/historique/Historique.js') }}?{{ date().timestamp }}"></script>
	<script src="{{ asset('assets/js/patient/Patient.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

	$('#bloc_specialite_historique').showLoading();
    
    $(document).ready(function() {

    	var paramsS = {
				url_ajax_see : '{{path('specialite_ajax_see', {'id': specialite.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_specialite_global',
				id_global : '#bloc_specialite',
		};
        
    	Specialite.Launch(paramsS);
    	Specialite.LoadSpecialite();

    	var paramsP = {
				url_ajax_see : '{{path('patient_ajax_see_liste', {'id': specialite.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_specialite_global',
				id_global : '#bloc_specialite_patient',
		};
        
    	Patient.Launch(paramsP);
    	Patient.LoadPatient();
    	
    	var paramsSE = {
				url_ajax_see : '{{path('specialite_evenement_ajax_see', {'id': specialite.id, 'type': 'specialite'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_specialite_global',
				id_global : '#bloc_specialite_evenement',
		};
        
    	SpecialiteEvenement.Launch(paramsSE);
    	SpecialiteEvenement.LoadSpecialiteEvenement();

    	var paramsPS = {
				url_ajax_see : '{{path('produit_specialite_ajax_see', {'id': specialite.id, 'type': 'specialite'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_specialite_global',
				id_global : '#bloc_specialite_produit',
		};
        
    	ProduitSpecialite.Launch(paramsPS);
    	ProduitSpecialite.LoadProduitSpecialite();
    	
    	var paramsH = {
				url_ajax_see : '{{path('historique_ajax_see', {'id': specialite.id, 'type': 'specialite'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_specialite_global',
				id_global : '#bloc_specialite_historique',
		};
        
		Historique.Launch(paramsH);
		Historique.LoadHistorique();
    });
    
    </script>
{% endblock %}