<div id="ajax_membre_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification du membre #{{ membre.id }} - {{ membre.prenom }} {{ membre.nom }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.nom) }}
		    </div>
		    <div class="col-md-6">
    	        {{ form_row(form.prenom) }}
    	    </div>
    	</div>
    	<div class="row">
			<div class="col-md-6">
                {{ form_row(form.email) }}
		    </div>
		    <div class="col-md-6">
                {{ form_row(form.numero_tel) }}
    	    </div>
    	</div>
    	
    	<hr>
    	
    	<div class="row">
			<div class="col-md-6">
    	        {{ form_row(form.username) }}
    	        {% if admin == true %}
                	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
                        {{ form_row(form.password) }}
                	</div>
            	{% else %}
            		{{ form_row(form.annuaire) }}
            	{% endif %}
    	    </div>
    	    
    	    <div class="col-md-6">
    	    	{% if admin == true %}
        	        {{ form_row(form.roles) }}
        	        {{ form_row(form.decideur) }}
        	        {{ form_row(form.annuaire) }}
        	    {% else %}
        	    	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
                        {{ form_row(form.password) }}
                	</div>
    	        {% endif %}
            	
    	    </div>
    	</div>
    	
    	<hr>
        
		<div class="row">
    	    <div class="col-md-6">
        	    {{ form_row(form.fonction) }}
                {{ form_row(form.signature) }}
          	</div>
            <div class="col-md-6">
            	{{ form_row(form.etablissement) }}
                <div id="bloc_specialite">
                	{{ form_row(form.specialite) }}
                </div>
            </div>
    	</div>
    </div>
        
    <div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	
	{{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

</div>

{% block script %}
    {% if admin == true %}
 		<script src="{{ asset('assets/js/specialite/Specialite.js') }}?{{ date().timestamp }}"></script>
 	{% endif %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $('#modal_membre_global').modal({
 	   'show' : true,
 	   'backdrop' : 'static'
 	});

    {% if admin == true %}
 		var url = '{{path('membre_ajax_edit', {'id': membre.id }) }}';
 	{% else %}
 		var url = '{{path('membre_ajax_edit_fiche', {'id': membre.id }) }}';
 	{% endif %}
	Membre.EventEditSubmit(url);

	$(document).ready(function() {

		{% if admin == true %}
    		var params = {
    				url_ajax_see : '{{ path('specialite_ajax_edit_dropdown', {'id': membre.id, 'type': 'membre'}) }}',
    				id_specialite : '#bloc_specialite',
    				id_bloc_etablissement : '#membre_etablissement'
    		};
            
        	Specialite.Launch(params);
        	Specialite.LoadDropdownSpecialite();
        	Specialite.EventChange('#membre_save');
    	{% endif %}
    });
    
    </script> 

{% endblock %}