	<div class="card shadow-sm">
         <div class="card-header bg-light">
           	 <b>Membre :</b> {{ membre.prenom }} {{ membre.nom }}
           	<div class="float-right"> 
           		<a href="{{path('membre_ajax_edit', {'id': membre.id }) }}" id="btn-edit-membre" class="btn btn-dark"><span class="oi oi-pencil"></span> Editer le membre</a>
           	</div>
         </div>
         <div class="card-body">
			<table  class="table table-sm">
    	<tr>
    		<th scope="col"  class="table-active"> Pseudo </th>
    		<td > {{ membre.username }} </td>
    		<th scope="col" class="table-active"> Actif </th>
    		<td> {{ membre.disabled | bool }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Numéro de téléphone </th>
    		<td class="table-active"> {{ membre.numeroTel }} </td>
    		<th scope="col"> Email </th>
    		<td class="table-active"> {{ membre.email }} </td>
    	</tr>
    	<tr>
    		<th scope="col" class="table-active"> Etablissement </th>
    		<td> {{ membre.etablissement.nom }} </td>
    		<th scope="col" class="table-active"> Spécialité </th>
    		<td> {% if membre.specialite != null %} {{ membre.specialite.service }} {% endif %} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Fonction </th>
    		<td class="table-active"> {{ membre.fonction }} </td>
    		<th scope="col"> Signature </th>
    		<td class="table-active"> {{ membre.signature }} </td>
    	</tr>
    	<tr>
    		<th scope="col" class="table-active"> Membre décideur </th>
    		<td> {{ membre.decideur | bool }} </td>
    		<th scope="col" class="table-active"> Membre présent dans l'annuaire </th>
    		<td> {{ membre.annuaire | bool }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Droits </th>
    		<td class="table-active"> 
    		    {% for role in membre.roles %}
    		    	{{ role | droit }}<br />
    		   	{% endfor %} 
    		</td>
    	</tr>
    </table>
         </div>
    </div>
    
    
{% block javascripts %}

    <script type="text/javascript">

    $(document).ready(function() {
        var id_btn_membre = '#btn-edit-membre';
        Membre.EventEdit(id_btn_membre);
    });
    
    </script> 

{% endblock %}