{% extends 'base.html.twig' %}

{% block title %} Edition d'un membre {% endblock %}

{% block body %}

    <h1>Modification du membre #{{ membre.id }} - {{ membre.prenom }} {{ membre.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
    	{{ form_row(form.nom) }}
    	{{ form_row(form.prenom) }}
    	{{ form_row(form.username) }}
    	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.password) }}
    	</div>
    	{{ form_row(form.email) }}
    	{{ form_row(form.numero_tel) }}
    	{{ form_row(form.fonction) }}
    	{{ form_row(form.signature) }}
    	{{ form_row(form.decideur) }}
    	{{ form_row(form.annuaire) }}
    	{{ form_row(form.roles) }}
    	
    	{{ form_row(form.etablissement) }}
    	<div id="bloc_specialite">
    		{{ form_row(form.specialite) }}
    	</div>
        
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
        
    </div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/specialite/specialite.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {
    	$('#membre_avatar').change(function() {
    		var file = $(this)[0].files[0].name;
    		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
    	});
    	
		var params = {
				url_ajax_see : '{{ path('specialite_ajax_edit_dropdown', {'id': membre.id, 'type': 'membre'}) }}',
				id_specialite : '#bloc_specialite',
				id_bloc_etablissement : '#membre_etablissement'
		};
        
    	Specialite.Launch(params);
    	Specialite.LoadDropdownSpecialite();
    	Specialite.EventChange('#membre_save');
		
    });
    
    </script>
{% endblock %}