{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}

    <h1>Gestion des membres</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div class="card">
    	<div class="card-header">
    	    {{ pagination.nb_elements }} membres - Page {{ pagination.page }} / {{ pagination.pages_count }}
        	<a href="{{ path('membre_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-person"></span> Nouveau membre</a>
      		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('membre_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('membre_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('membre_listing', {'page' : pagination.page, 'field' : 'prenom'} ), 'Prénom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('membre_listing', {'page' : pagination.page, 'field' : 'email'} ), 'Email', current_order, current_field) | raw }} </th>
            	<th> N° de téléphone</th>
            	<th>Etablissement</th>
        		<th>Spécialité</th>
            	<th>{{ headerFilter(path('membre_listing', {'page' : pagination.page, 'field' : 'fonction'} ), 'Fonction', current_order, current_field) | raw }} </th>
            	<th>Décideur</th>
        		<th>Présent dans l'annuaire</th>
            	<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-nom', current_search, 'Nom') | raw }}</td>
        		<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-prenom', current_search, 'Prénom') | raw }}</td>
        		<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-email', current_search, 'Email') | raw }}</td>
            	<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-numero_tel', current_search, 'N° de téléphone') | raw }}</td>
            	<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-etablissement-nom', current_search, 'Etablissement') | raw }}</td>
            	<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-specialite-service', current_search, 'Spécialité') | raw }}</td>
        		<td>{{ inputFilter(path('membre_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Membre-fonction', current_search, 'Fonction') | raw }}</td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	
  		{% for membre in membres %}
        		<tr>
        			<td>{{ membre.id }}</td>
        			<td>{{ membre.nom }}</td>
        			<td>{{ membre.prenom }}</td>
        			<td>{{ membre.email }}</td>
        			<td>{{ membre.numeroTel }}</td>
        			<td>{{ membre.etablissement.nom }}</td>
        			<td>{% if membre.specialite != null %} {{ membre.specialite.service }} {% endif %}</td>
        			<td>{{ membre.fonction }}</td>
        			<td>{{ membre.decideur | bool }}</td>
        			<td>{{ membre.annuaire | bool }}</td>
        			<td>
        			    {#{ actionSee(path('membre_see', {'id' : membre.id, 'page' : pagination.page})) | raw }#}
        			    {{ actionEdit(path('membre_edit', {'id' : membre.id, 'page' : pagination.page})) | raw }}
        			    {{ actionDelete(membre.disabled, path('membre_delete', {'id' : membre.id, 'page' : pagination.page})) | raw }}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if membres is empty %}
        	<p class="text-info text-center">Il  n'y a aucun membre correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
{% endblock %}
