{% extends 'base.html.twig' %}

{% block title %} Fiche d'un membre {% endblock %}

{% block body %}

    <h1>Fiche du membre #{{ membre.id }} - {{ membre.prenom }} {{ membre.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_membre">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <div id="bloc_membre_temoignage">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <div id="bloc_membre_historique">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_membre_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/temoignage/Temoignage.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/membre/Membre.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/historique/Historique.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

	$('#bloc_membre_historique').showLoading();
    
    $(document).ready(function() {

    	var paramsM = {
				url_ajax_see : '{{path('membre_ajax_see', {'id': membre.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_membre_global',
				id_global : '#bloc_membre'
		};
        
    	Membre.Launch(paramsM);
    	Membre.LoadMembre();
		
		var params = {
				url_ajax_see : '{{path('temoignage_ajax_see_liste', {'id': membre.id, 'type': 'membre'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_membre_global',
				id_global : '#bloc_membre_temoignage',
		};
        
		Temoignage.Launch(params);
		Temoignage.LoadTemoignage();

		var paramsH = {
				url_ajax_see : '{{path('historique_ajax_see', {'id': membre.id, 'type': 'membre'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_membre_global',
				id_global : '#bloc_membre_historique',
		};
        
		Historique.Launch(paramsH);
		Historique.LoadHistorique();

		Pagination.Launch();
    });
    
    </script>
{% endblock %}