{% extends 'base.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}

    <h1>Mon compte</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="accordionMembre">
    	<div class="card">
        	<div class="card-header float-left" id="headingMembre" data-toggle="collapse" data-target="#collapseMembre2" aria-expanded="true" aria-controls="collapseMembre">
            	Informations personnelles
            	<div class="float-right">
            	    {{ editObjet(path('membre_edit_avatar', {'id': membre.id }), "Modifier mon avatar", "") | raw }}
            		{{ editObjet(path('membre_ajax_edit_fiche', {'id': membre.id }), "Modifier mes informations", "btn-edit-membre") | raw }}
            	</div>
        	</div>
        	
        	<div id="collapseMembre" class="collapse show" aria-labelledby="headingMembre" data-parent="#accordionMembre">
          		{% include 'membre/ajax_see_fiche.html.twig' %}
        	</div>
      	</div>
    </div>

	<hr>    
        
    	<div class="card">
        	<div class="card-header float-left">
            	Questionnaires auxquels vous avez répondu
        	</div>
        	<div class="card-body float-left">
            	<table class="table">
            	<tr>
                	<th>Question</th>
                	<th>Réponse</th>
            	</tr>
            	
               
            		    
                {% for quest in questionnaires %}
                	              		<td colspan=2 class="text-center bg bg-primary"><i>Questionnaire #{{ quest.id }} : "{{ quest.titre }}"</i></td>
                	{% for question in quest.questions %}
                	    {% for reponse in question.reponses %}
                	    {% if reponse.membre.id == app.user.id %}
                	<tr>
                		<td>{{ question.libelle }}</td>
                		<td>{{ displayReponses(question, reponse) | raw }}</td>
                	</tr>
                	{% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
    			</table>
        	</div>
      	</div>

    <!-- Modal -->
    <div class="modal fade" id="modal_membre_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/membre/Membre.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
    
{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function() {

			var paramsM = {
					url_ajax_see : '{{path('membre_ajax_see_fiche', {'id': membre.id}) }}',
					id_content_modal : '#bloc_modal',
					id_modal : '#modal_membre_global',
					id_global : '#collapseMembre'
			};
	        
	    	Membre.Launch(paramsM);
            var id_btn_edit_membre = '#btn-edit-membre';
            Membre.EventEdit(id_btn_edit_membre);
        });
    </script>
{% endblock %}