{% extends 'base.html.twig' %}

{% block title %} Nouvelle adresse de famille {% endblock %}

{% block body %}

<h1>Ajout d'une nouvelle adresse</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.numero_voie) }}
	{{ form_row(form.voie) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.code_postal) }}
	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
	  
{% endblock %}