{% extends 'base.html.twig' %}

{% block title %} Adresses des familles{% endblock %}

{% block body %}

<h1>Gestion des adresses</h1>

{% include 'elements/arborescence.html.twig' %}

<div class="card">
	<div class="card-header">
    	{{ pagination.nb_elements }} adresses - Page {{ pagination.page }} / {{ pagination.pages_count }}
    	<a href="{{ path('famille_adresse_add', {'page' : pagination.page}) }}" class="float-right"> Nouvelle adresse</a>
    	{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
  	</div>
  	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : 'numero_voie'} ), 'Numéro de voie', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : 'voie'} ), 'Voie', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : 'ville'} ), 'Ville', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : 'code_postal'} ), 'Code postal', current_order, current_field) | raw }}</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'FamilleAdresse-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'FamilleAdresse-numero_voie', current_search, 'N° de voie') | raw }}</td>
        		<td>{{ inputFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'FamilleAdresse-voie', current_search, 'Voie') | raw }}</td>
        		<td>{{ inputFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'FamilleAdresse-ville', current_search, 'Ville') | raw }}</td>
        		<td>{{ inputFilter(path('famille_adresse_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'FamilleAdresse-code_postal', current_search, 'Code postal') | raw }}</td>
        		<td></td>
        	</tr>
        	{% for adresse in adresses %}
        		<tr>
        			<td>{{ adresse.id }}</td>
        			<td>{{ adresse.numeroVoie }}</td>
        			<td>{{ adresse.voie }}</td>
        			<td>{{ adresse.ville}}</td>
        			<td>{{ adresse.codepostal }}</td>
        			<td>
        				{{ actionSee(path('famille_adresse_see', {'id' : adresse.id, 'page' : pagination.page})) | raw }}
        			    {{ actionEdit(path('famille_adresse_edit', {'id' : adresse.id, 'page' : pagination.page})) | raw }}
        			    
        			    {% if is_granted("ROLE_ADMIN") %}
        			        {{ actionDelete(adresse.disabled, path('famille_adresse_delete', {'id' : adresse.id, 'page' : pagination.page})) | raw }}
        			    {% endif %}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
	  
{% endblock %}
