{% extends 'base.html.twig' %}

{% block title %} Fiche d'une adresse {% endblock %}

{% block body %}

<h1>Fiche de l'adresse #{{ adresse.id }}</h1>

{% include 'elements/arborescence.html.twig' %}

<table  class="table table-sm">
	<tr>
		<th scope="col"> N° de voie </th>
		<td> {{ adresse.numeroVoie }} </td>
	</tr>
	<tr>
		<th scope="col"> Voie </th>
		<td> {{ adresse.voie }} </td>
	</tr>
	<tr>
		<th scope="col"> Ville </th>
		<td> {{ adresse.ville }} </td>
	</tr>
	<tr>
		<th scope="col"> Code postal </th>
		<td> {{ adresse.codePostal }} </td>
	</tr>
	<tr>
		<th scope="col">Actif</th>
		<td> {{ adresse.disabled | actif }} </td>
	</tr>

</table>

<div> Famille </div>
{% endblock %}