{% extends 'base.html.twig' %}

{% block title %} Nouvelle famille {% endblock %}

{% block body %}

<h1>Ajout d'un nouvelle famille</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.lien_famille) }}
	{{ form_row(form.email) }}
	{{ form_row(form.numero_tel) }}
	{{ form_row(form.patient) }}
	{{ form_row(form.pmr) }}
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.famille_adresse) }}
  	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}