<div class="card-header bg-light">
           	 <b>Famille :</b> {{ famille.prenom }} {{ famille.nom }}
           	<div class="float-right"> 
           	    {{ editObjet(path('famille_ajax_edit', {'id': famille.id }), "Editer la famille", "btn-edit-famille") | raw }}
           	    {% if is_granted("ROLE_ADMIN") %}
           	        {{ deleteObjet(famille.disabled, path('famille_delete', {'id': famille.id, 'page' : 1 }), 'btn-disabled-famille') | raw }}
           	    {% endif %}
           	</div>
         </div>
         <div class="card-body">
          	<b>Patient :</b> {{ famille.patient.prenom }} {{ famille.patient.nom }} </br>
			<b>Email :</b> {{ famille.email }} <br>
			<b>Numéro de téléphone :</b> {{ famille.numeroTel }} <br>
			<b>Adresse :</b> {{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}, {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }} <br>
			<b>Personne à mobilité réduite :</b> {{ famille.pmr | bool }}
         </div>

	<!-- Modal -->
    <div class="modal fade" id="modal_patient_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% block javascripts %}
	<script type="text/javascript">
	
        Famille.EventEdit('#btn-edit-famille');
    	
		Famille.EventDelete('#btn-disabled-famille');
    </script>
{% endblock %}