<div class="card-header bg-light">
           	<b>Famille :</b> {{ famille.prenom }} {{ famille.nom }}
           	{% if is_granted("ROLE_ADMIN") %}
           		<br><b>Actif :</b> {{ famille.disabled | actif }}
           		<div class="float-right"> 
               	    {{ editObjet(path('famille_ajax_edit', {'id': famille.id }), "Editer la famille", "btn-edit-famille") | raw }}
               	    {{ deleteObjet(famille.disabled, path('famille_delete', {'id': famille.id, 'page' : 1 }), 'btn-disabled-famille') | raw }}
               	</div>
           	{% else %}
           		<div class="float-right"> 
               	    {{ editObjet(path('famille_ajax_edit', {'id': famille.id }), "Editer la famille", "btn-edit-famille") | raw }}
               	</div>
           	{% endif %}
           	
         </div>
         <div class="card-body">
         	<table class="table-sm">
         		<tr>
         			<th>Patients</th>
         			<td>{% for famillePatient in famille.famillePatients %} 
          	                {{ famillePatient.lienParente | lienParente }} de 
          	    			<b>{{ famillePatient.patient.prenom }} {{ famillePatient.patient.nom }}</b><br> 
          	            {% endfor %}
          			</td>
         		</tr>
         		<tr>
         			<th>Email</th>
         			<td>{{ famille.email }}</td>
         		</tr>
         		<tr>
         			<th>Numéro de téléphone</th>
         			<td>{{ famille.numeroTel }}</td>
         		</tr>
         		<tr>
         			<th>Adresse</th>
         			<td>{{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}<br> {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }}</td>
         		</tr>
         		<tr>
         			<th>Personne à mobilité réduite</th>
         			<td>{{ famille.pmr | bool }}</td>
         		</tr>
         	</table>
         </div>

	<!-- Modal -->
    <div class="modal fade" id="modal_patient_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% block javascripts %}
	<script type="text/javascript">
	
        Famille.EventEdit('#btn-edit-famille');
    	
		Famille.EventDelete('#btn-disabled-famille');
    </script>
{% endblock %}