{% extends 'base.html.twig' %}

{% block title %} Edition d'une famille {% endblock %}

{% block body %}

<h1>Modification de la famille {{ famille.prenom }} {{ famille.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.lien_famille) }}
	{{ form_row(form.email) }}
	{{ form_row(form.numero_tel) }}
	{{ form_row(form.pmr) }}
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}