{% extends 'base.html.twig' %}

{% block title %} Familles {% endblock %}

{% block body %}

	<h1>Gestion des familles</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div class="card">
    	<div class="card-header">
        	{{ pagination.nb_elements }} familles - Page {{ pagination.page }} / {{ pagination.pages_count }}
    		<a href="{{ path('famille_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-person"></span> Nouvelle famille</a>
        	{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
          	<table class="table table-sm table-striped">
        		<tr>
        			<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }} </th>
            		<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }} </th>
            		<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'prenom'} ), 'Prénom', current_order, current_field) | raw }} </th>
            		<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'lien_famille'} ), 'Lien de parenté', current_order, current_field) | raw }} </th>
            		<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'email'} ), 'Email', current_order, current_field) | raw }} </th>
            		<th> N° de téléphone</th>
            		<th> Adresse </th>
            		<th> Patient </th>
            		<th> {{ headerFilter(path('famille_listing', {'page' : pagination.page, 'field' : 'pmr'} ), 'Mobilité réduite', current_order, current_field) | raw }}</th>
            		<th></th>
            	</tr>
            	<tr>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-id', current_search, 'Identifiant') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-nom', current_search, 'Nom') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-prenom', current_search, 'Prénom') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-lien_famille', current_search, '', constant('App\\Controller\\AppController::FAMILLE_PARENTE')) | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-email', current_search, 'Email') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-numero_tel', current_search, 'N° de téléphone') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-famille_adresse-voie', current_search, 'Recherche voie') | raw }}</td>
            		<td>{{ inputFilter(path('famille_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Famille-patient-nom', current_search, 'Nom du patient') | raw }}</td>
            		<td></td>
            		<td></td>
            	</tr>
            	
                {% for famille in familles %}
            	
            		<tr>
            			<td>{{ famille.id }} </td>
            			<td>{{ famille.nom }} </td>
            			<td>{{ famille.prenom }} </td>
            			<td>{{ famille.lienFamille | lienParente }}</td>
            			<td>{{ famille.email }} </td>
            			<td>{{ famille.numeroTel }} </td>
            			<td>
            				<a href="{{ path('famille_adresse_see', {'id': famille.familleAdresse.id, 'page' : pagination.page}) }}">
            			        {{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}<br />
            			        {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }}
            			    </a>
            			</td>
            			<td>
            				<a href="{{ path('patient_see', {'id': famille.patient.id, 'page' : pagination.page}) }}">
            			        {{ famille.patient.prenom }} {{ famille.patient.nom }}
            			    </a>
            			</td>
            			<td>{{ famille.pmr | bool }}</td>
            			<td>
            				{{ actionSee(path('famille_see', {'id' : famille.id, 'page' : pagination.page})) | raw }}
        			        {{ actionEdit(path('famille_edit', {'id' : famille.id, 'page' : pagination.page})) | raw }}
        			        
            			    {% if is_granted("ROLE_ADMIN") %}
            			        {{ actionDelete(famille.disabled, path('famille_delete', {'id' : famille.id, 'page' : pagination.page})) | raw }}
            			    {% endif %}
            			</td>
            		</tr>
            	
            	{% endfor %}
    		</table>
    		
    		{% if familles is empty %}
        		<p class="text-info text-center">Il  n'y a aucune famille correspondant à votre recherche.</p>
            {% endif %}
    		
      	</div>
      	
      	<div class="card-footer">
      		{% include 'elements/pagination.html.twig' %}
      	</div>
	</div>
{% endblock %}
