{% extends 'base.html.twig' %}

{% block title %} Fiche d'une famille {% endblock %}

{% block body %}

<h1>Fiche de la famille #{{ famille.id }} - {{ famille.prenom }} {{ famille.nom }} </h1>

{% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_famille" class="card shadow-sm">
         <div class="card-header bg-light">
           	 <b>Famille :</b> {{ famille.prenom }} {{ famille.nom }}
           	<div class="float-right"> 
           	    {{ editObjet(path('famille_ajax_edit', {'id': famille.id }), "Editer la famille", "btn-edit-famille") | raw }}
           	    {{ deleteObjet(famille.disabled, path('famille_delete', {'id': famille.id, 'page' : 1 }), 'btn-disabled-famille') | raw }}
           	</div>
         </div>
         <div class="card-body">
          	<b>Patient :</b> {{ famille.patient.prenom }} {{ famille.patient.nom }} </br>
			<b>Email :</b> {{ famille.email }} <br>
			<b>Numéro de téléphone :</b> {{ famille.numeroTel }} <br>
			<b>Adresse :</b> {{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}, {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }} <br>
			<b>Personne à mobilité réduite :</b> {{ famille.pmr | bool }}
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_patient_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/famille/Famille.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
    
{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function() {

			var paramsF = {
					url_ajax_see : '{{path('famille_see', {'id': famille.id}) }}',
					id_content_modal : '#bloc_modal',
					id_modal : '#modal_patient_global',
					id_global : '#bloc_famille'
			};
	        
	    	Famille.Launch(paramsF);
            var id_btn_edit_famille = '#btn-edit-famille';
            Famille.EventEdit(id_btn_edit_famille);
            
            var id_btn_delete_famille = '#btn-disabled-famille';
    		Famille.EventDelete(id_btn_delete_famille);
        });
    </script>
{% endblock %}