{% extends 'base.html.twig' %}

{% block title %} Fiche d'une famille {% endblock %}

{% block body %}

<h1>Fiche de la famille #{{ famille.id }} - {{ famille.prenom }} {{ famille.nom }} </h1>

{% include 'elements/arborescence.html.twig' %}

<table  class="table table-sm">
	<tr>
		<th scope="col"> Patient </th>
		<td> {{ famille.patient.prenom }} {{ famille.patient.nom }} </td>
	</tr>
	<tr>
		<th scope="col"> Prénom </th>
		<td> {{ famille.prenom }} </td>
	</tr>
	<tr>
		<th scope="col"> Nom </th>
		<td> {{ famille.nom }} </td>
	</tr>
	<tr>
		<th scope="col"> Email </th>
		<td> {{ famille.email }} </td>
	</tr>
	<tr>
		<th scope="col"> Numéro de téléphone </th>
		<td> {{ famille.numeroTel }} </td>
	</tr>
	
	<tr>
		<th scope="col"> Adresse </th>
		<td> 
		    {{ famille.familleAdresse.numeroVoie }}, {{ famille.familleAdresse.voie }}<br />
            {{ famille.familleAdresse.codePostal }} {{ famille.familleAdresse.ville }} 
        </td>
	</tr>
	<tr>
		<th scope="col"> Personne à mobilité réduite </th>
		<td> {{ famille.pmr | bool }} </td>
	</tr>
	<tr>
		<th scope="col">Actif</th>
		<td> {{ famille.disabled | actif }} </td>
	</tr>
</table>
<div> Historique </div>

{% endblock %}