
{% extends 'base.html.twig' %}

{% block title %}Types d'événement{% endblock %}

{% block body %}

    <h1>Gestion des types d'événements</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div class="card">
    	<div class="card-header">
            {{ pagination.nb_elements }} type{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} d'événement - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
            <a href="{{ path('type_evenement_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-list"></span> Nouveau type d'événement</a>
            {{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('type_evenement_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('type_evenement_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }}</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('type_evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'TypeEvenement-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('type_evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'TypeEvenement-nom', current_search, 'Nom') | raw }}</td>
        		<td></td>
        	</tr>
        	
  		{% for type in types %}
        		<tr>
        			<td>{{ type.id }}</td>
        			<td>
        				{{ type.nom }}
        			</td>
        			<td>
        				{{ actionEdit(path('type_evenement_edit', {'id' : type.id, 'page' : pagination.page})) | raw }}
        			    {{ actionDelete(type.disabled, path('type_evenement_delete', {'id' : type.id, 'page' : pagination.page})) | raw }}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if types is empty %}
        	<p class="text-info text-center">Il  n'y a aucun type d'événement correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
{% endblock %}