{% extends 'base.html.twig' %}

{% block body %}

<div>
<h1>HOME</h1>
	<ul>
		<li><a href='{{ path('etablissement_listing') }}'>Lien vers etablissement</a></li>
		<li><a href='{{ path('evenement_listing') }}'>Lien vers evenement</a></li>
		<li><a href='{{ path('extension') }}'>Lien vers extension formulaire</a></li>
		<li><a href='{{ path('famille_listing') }}'>Lien vers famille</a></li>
		<li><a href='{{ path('famille_adresse_listing') }}'>Lien vers famille adresse</a></li>
		<li><a href='{{ path('groupe') }}'>Lien vers groupe</a></li>
		<!-- <li><a href='{#{ path('historique_listing') }#}'>Lien vers historique</a></li> -->
		<li><a href='{{ path('membre_listing') }}'>Lien vers membre</a></li>
		<li><a href='{{ path('message') }}'>Lien vers message</a></li>
		<li><a href='{{ path('messagelu') }}'>Lien vers message lu</a></li>
		<li><a href='{{ path('patient_listing') }}'>Lien vers patient</a></li>
		<li><a href='{{ path('piecejointe') }}'>Lien vers piece jointe</a></li>
		<li><a href='{{ path('produit_listing') }}'>Lien vers produit</a></li>
		<li><a href='{{ path('question') }}'>Lien vers question</a></li>
		<li><a href='{{ path('questionnaire_listing') }}'>Lien vers questionnaire</a></li>
		<li><a href='{{ path('reponse') }}'>Lien vers reponse</a></li>
		<li><a href='{{ path('specialite_listing') }}'>Lien vers specialite</a></li>
		<li><a href='{{ path('temoignage_listing') }}'>Lien vers temoignage</a></li>
	</ul>

</div>

{% endblock %}
