{% extends 'base.html.twig' %}

{% block body %}
<div id="page-accueil">
	<h1>Accueil</h1>
		<div class="row">
		<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Questionnaires qui vont expirer prochainement
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Questionnaire</th>
            				<th>Date création</th>
            				<th>Date fin</th>
            				<th>J restants</th>
            			</tr>
            	            {% for quest in questionnaires %}
            	            <tr>
                                <td>{{ quest.id }}</td>
                                <td>{{ quest.titre }}</td>
                                <td>{{ quest.dateCreation |date("d/m/Y H:i")}}</td>
                               	<td>{{ quest.dateFin |date("d/m/Y H:i")}}<br/></td>
                            	  
            	            {% if quest.dateFin.timestamp  < date().timestamp %}
            	      			<td>intégrer partie html au twig extension + format urgent</td>
    							<td><span class="text-danger"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% else %}
    							<td><span class="text-success"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% endif %}
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-primary">
                	Questionnaires qui vont expirer prochainement
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>ID</th>
            				<th>Titre</th>
            				<th>Date de création</th>
            				<th>Date de fin</th>
            				<th>Jours restants</th>
            			</tr>
            	            {% for quest in questionnaires %}
            	            <tr>
                                <td>{{ quest.id }}</td>
                                <td>{{ quest.titre }}</td>
                                <td>{{ quest.dateCreation |date("d/m/Y H:i")}}</td>
                               	<td>{{ quest.dateFin |date("d/m/Y H:i")}}<br/></td>
                            	  
            	            {% if quest.dateFin.timestamp  < date().timestamp %}
            	      			<td>intégrer partie html au twig extension + format urgent</td>
    							<td><span class="text-danger"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% else %}
    							<td><span class="text-success"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% endif %}
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-primary">
                	Questionnaires qui vont expirer prochainement
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>ID</th>
            				<th>Titre</th>
            				<th>Date de création</th>
            				<th>Date de fin</th>
            				<th>Jours restants</th>
            			</tr>
            	            {% for quest in questionnaires %}
            	            <tr>
                                <td>{{ quest.id }}</td>
                                <td>{{ quest.titre }}</td>
                                <td>{{ quest.dateCreation |date("d/m/Y H:i")}}</td>
                               	<td>{{ quest.dateFin |date("d/m/Y H:i")}}<br/></td>
                            	  
            	            {% if quest.dateFin.timestamp  < date().timestamp %}
            	      			<td>intégrer partie html au twig extension + format urgent</td>
    							<td><span class="text-danger"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% else %}
    							<td><span class="text-success"><span class="oi oi-media-record"></span> {{ formatDateQuestionnaire(quest.dateFin) }}</span></td>
    							{% endif %}
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

    </script>
{% endblock %}