{% extends 'base.html.twig' %}

{% block title %} Index {% endblock %}

{% block body %}
<div id="page-accueil">
    {% if  app.environment == 'dev' %}
		<h1>Accueil (ADMIN)</h1>
	{% else %}
		<h1>Accueil</h1>
	{% endif %}
		<div class="row">
		<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Questionnaires qui vont expirer prochainement
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Questionnaire</th>
            				<th>Date création</th>
            				<th>Date fin</th>
            				<th>Jours restants</th>
            			</tr>
            	            {% for quest in questionnaires %}
            	            <tr>
                                <td>{{ quest.id }}</td>
                                <td><a href="{{ path('questionnaire_see', {'id': quest.id}) }}">{{ quest.titre }}</a></td>
                                <td>{{ quest.dateCreation |date("d/m/Y H:i")}}</td>
                               	<td>{{ quest.dateFin |date("d/m/Y H:i")}}</td>
                            	<td>{{ formatDateDecompte(quest.dateFin) }}</td>  
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Evènements les plus proches
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Nom</th>
            				<th>Ville</th>
            				<th>Date de début</th>
            				<th>Date de fin</th>
            				<th>Jours restants</th>
            			</tr>
            	            {% for ev in evenements %}
            	            <tr>
                                <td>{{ ev.id }}</td>
                                <td><a href="{{ path('evenement_see', {'id': ev.id}) }}">{{ ev.nom }}</a></td>
                                <td>{{ ev.ville }}</td>
                                <td>{{ ev.dateDebut |date("d/m/Y H:i")}}</td>
                               	<td>{{ ev.dateFin |date("d/m/Y H:i")}}</td>
                               	<td>{{ formatDateDecompte(ev.dateDebut) }}</td> 
                            </tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Patients : derniers enregistrements
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Nom</th>
            				<th>Prénom</th>
            				<th>Date de naissance</th>
            			</tr>
            	            {% for pat in patients %}
            	            <tr>
                                <td>{{ pat.id }}</td>
                                <td><a href="{{ path('patient_see', {'id': pat.id}) }}">{{ pat.nom }}</a></td>
                                <td><a href="{{ path('patient_see', {'id': pat.id}) }}">{{ pat.prenom }}</a></td>
                               	<td>{{ pat.dateNaissance | date('d/m/Y') }} ({{ pat.dateNaissance | age }} ans)</td>
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    </div>
    
    		<div class="row">
		<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Produits : derniers enregistrements
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Titre</th>
            				<th>Tranche d'âge</th>
            				<th>Quantité</th>
            			</tr>
            	            {% for prod in produits %}
            	            <tr>
                                <td>{{ prod.id }}</td>
                                <td><a href="{{ path('produit_see', {'id': prod.id}) }}">{{ prod.titre }}</a></td>
        				        <td>{% for tranche_age in prod.trancheAge %}
        			                    {{ tranche_age | trancheAge }}<br />
        			                {% endfor %}</td>
                               	<td>{{ prod.quantite }}</td>
                           	</tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Témoignages les plus récents
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Titre</th>
            				<th>Corps</th>
            				<th>Auteur</th>
            				<th>Date création</th>
            			</tr>
            	            {% for tem in temoignages %}
            	            <tr>
                                <td>{{ tem.id }}</td>
                                <td><a href="{{ path('temoignage_see', {'id': tem.id}) }}">{{ tem.titre }}</a></td>
                                <td>
                                {% if tem.produit != null %}
                                    {{ tem.produit.titre }}
                                {% else %}
                                	{{ tem.evenement.nom }}
                                {% endif %}</td>
                                <td>{{ tem.famille.prenom }} {{ tem.famille.nom }}</td>
                                <td>{{ tem.dateCreation |date("d/m/Y")}}</td>
                            </tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

    </script>
{% endblock %}