{% extends 'base.html.twig' %}

{% block title %} Index {% endblock %}

{% block body %}
<div id="page-accueil">
    {% if  app.environment == 'dev' %}
		<h1>Accueil (BENEVOLE)</h1>
	{% else %}
		<h1>Accueil</h1>
	{% endif %}
    	<div class="col-4">
    		<div class="card">
            	<div class="card-header bg-info">
                	Témoignages les plus récents
            	</div>
            	<div class="card-body">
            		<table class="table">
                    	<tr>
            				<th>#</th>
            				<th>Titre</th>
            				<th>Date de création</th>
            			</tr>
            	            {% for tem in temoignages %}
            	            <tr>
                                <td>{{ tem.id }}</td>
                                <td>{{ tem.titre }}</td>
                                <td>
                                {% if tem.produit != null %}
                                    {{ tem.produit.titre }}
                                {% else %}
                                	{{ tem.evenement.nom }}
                                {% endif %}</td>
                                <td>{{ tem.dateCreation |date("d/m/Y H:i")}}</td>
                            </tr>
            	            {% endfor %}
            	    </table>
    			</div>
    		</div>
    	</div>
</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

	$('.carousel').carousel({
		interval: 5000
	});
	
    </script>
{% endblock %}