{% extends 'base.html.twig' %}

{% block title %} Nouveau produit {% endblock %}

{% block body %}

<h1>Ajout d'un nouveau produit</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
    {{ form_row(form.titre) }}
	{{ form_row(form.type) }}
	{{ form_row(form.genre) }}
	{{ form_row(form.texte) }}
	{{ form_row(form.texte_2) }}
	{{ form_row(form.tranche_age) }}
	{{ form_row(form.quantite) }}
	{{ form_row(form.date_envoi) }}
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}