{% extends 'base.html.twig' %}

{% block title %} Nouveau produit {% endblock %}

{% block body %}

    <h1>Ajout d'un nouveau produit</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        {{ form_row(form.titre) }}
    	{{ form_row(form.type) }}
    	{{ form_row(form.genre) }}
    	{{ form_row(form.texte) }}
    	{{ form_row(form.texte_2) }}
    	{{ form_row(form.tranche_age) }}
    	{{ form_row(form.quantite) }}
    	{{ form_row(form.date_envoi) }}
    	{#{ form_row(form.image) }#}
        
        <div class="form-group">
    		<label for="">Elément associé</label>
    		<select id="produit_typelink" class="form-control">
    			<option value="0"></option>
    			<option value="1">Etablissement</option>
    			<option value="2">Spécialité</option>
    		</select>
    	</div>
        
        <div id="produit_row_etablissement" class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.produitEtablissements) }}
            <a href="#" id="add_etablissement" class="btn btn-primary btn-sm">Ajouter un établissement</a>
        </div>
        <div id="produit_row_specialite" class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.produitSpecialites) }}
        	<a href="#" id="add_specialite" class="btn btn-primary btn-sm">Ajouter une spécialité </a>
        </div>
      	
        {{ form_rest(form) }}
        {{ form_end(form) }}
        
    </div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/produit_etablissement/ProduitEtablissement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit_specialite/ProduitSpecialite.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
        $(document).ready(function() {
        	
    		$('#produit_row_etablissement').hide();
    		$('#produit_row_specialite').hide();
        	
            $('#produit_typelink').change(function(){
            	
            	if($(this).val() == 2){
                	$('#produit_row_specialite').show();
                	$('#produit_row_etablissement').hide();
    
                    var paramsS = {
                			id_container : 'div#produit_produitSpecialites',
                			id_btn_add : '#add_specialite',
                	};
                	ProduitSpecialite.LaunchAddCollection(paramsS);
                    ProduitSpecialite.Event();
            		
                } else if($(this).val() == 1) {
        			$('#produit_row_etablissement').show();
        			$('#produit_row_specialite').hide();
    
            		var paramsE = {
                			id_container : 'div#produit_produitEtablissements',
                			id_btn_add : '#add_etablissement',
                	};
             		ProduitEtablissement.LaunchAddCollection(paramsE);
            		ProduitEtablissement.Event();
            		
                } else {
                	$('#produit_row_etablissement').hide();
        			$('#produit_row_specialite').hide();
                }
            });
        });
    </script> 
{% endblock %}