{% extends 'base.html.twig' %}

{% block title %} Nouveau produit {% endblock %}

{% block body %}

    <h1>Ajout d'un nouveau produit</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        {{ form_row(form.titre) }}
        
        <div class="row">
    		<div class="col-md-5">
    			{{ form_row(form.type) }}
    		</div>
    		<div class="col-md-1 col align-self-center">
    			<a href="{{ path('type_produit_ajax_add') }}" id="add_type" title="Ajouter un type de produit"><span class="oi oi-plus"></span></a>
    		</div>
    		<div class="col-md-6">
    			{{ form_row(form.genre) }}
    		</div>
    	</div>
    	
    	{{ form_row(form.texte) }}
    	{{ form_row(form.texte_2) }}
    	{{ form_row(form.tranche_age) }}
    	
    	<div class="row align-middle">
    		<div class="col-md-6 align-middle">
    			{{ form_row(form.quantite) }}
    		</div>
    		<div class="col-md-6 align-middle">
    			{{ form_row(form.date_envoi) }}
    		</div>
    	</div>
    	
    	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.extension_formulaires) }}
      		<a href="#" id="add_extension" class="btn btn-primary btn-sm">Ajouter un champ</a>
  		</div>
    	
    	<div class="row">
    		<div class="col-md-4">
                {{ form_row(form.image_1) }}
    		</div>
    		<div class="col-md-4">
                {{ form_row(form.image_2) }}
    		</div>
    		<div class="col-md-4">
                {{ form_row(form.image_3) }}
    		</div>
    	</div>
        
        <div id="produit_row_etablissement" class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.produitEtablissements) }}
            <a href="#" id="add_etablissement" class="btn btn-primary btn-sm">Ajouter un établissement</a>
        </div>
        <div id="produit_row_specialite" class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.produitSpecialites) }}
        	<a href="#" id="add_specialite" class="btn btn-primary btn-sm">Ajouter une spécialité </a>
        </div>
      	
        {{ form_rest(form) }}
        {{ form_end(form) }}
        
        <!-- Modal -->
    	<div class="modal fade" id="modal_add_produit" tabindex="-1" role="dialog">
         	<div class="modal-dialog modal-lg" role="document">
        		<div class="modal-content" id="bloc_modal"></div>
        	</div>
    </div>
        
    </div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/produit_etablissement/ProduitEtablissement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit_specialite/ProduitSpecialite.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/extension_formulaire/ExtensionFormulaire.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/type_produit/TypeProduit.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/image/Image.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
        $(document).ready(function() {

        	var texte_aide = "Formats de fichier acceptés : jpg, jpeg, png, gif";
        	Image.Launch();
        	Image.UpdateInput('#produit_image_1', 'Choisir la première image', texte_aide);
        	Image.UpdateInput('#produit_image_2', 'Choisir la seconde image', texte_aide);
        	Image.UpdateInput('#produit_image_3', 'Choisir la troisième image', texte_aide);
        	
        	var paramsS = {
        			id_container : 'div#produit_produitSpecialites',
        			id_btn_add : '#add_specialite',
        			val_defaut : $('#produit_produitSpecialites_0_specialite').val()
        	};
        	ProduitSpecialite.LaunchAddCollection(paramsS);
            ProduitSpecialite.Event();

            var paramsE = {
        			id_container : 'div#produit_produitEtablissements',
        			id_btn_add : '#add_etablissement',
        			val_defaut : $('#produit_produitEtablissements_0_etablissement').val()
        	};
     		ProduitEtablissement.LaunchAddCollection(paramsE);
    		ProduitEtablissement.Event();

    		var paramsEF = {
    				id_container : 'div#produit_extension_formulaires',
    				id_btn_add : '#add_extension',
    				id_label_fieldset : '#label_collection_types',
    				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
    		};
            
        	ExtensionFormulaire.Launch(paramsEF);
        	ExtensionFormulaire.Event();

        	var paramsTP = {
    				id_content_modal : '#bloc_modal',
    				id_modal : '#modal_add_produit'
    		};
            
    		TypeProduit.Launch(paramsTP);
    		var id_btn_add = '#add_type';
    		TypeProduit.EventAdd(id_btn_add);
        });
    </script> 
{% endblock %}