<div class="card shadow-sm">
	<div class="card-header bg-light">
    	<b>Produit :</b> {{ produit.titre }} 
    	{% if is_granted("ROLE_ADMIN") %}
    	    | <b>Actif: </b> {{ produit.disabled | actif(true) | raw }}
       		<div class="float-right">
       			{{ editObjet(path('produit_edit_images', {'id': produit.id, 'page': page }), "Modifier les images", "") | raw }}
    	        {{ editObjet(path('produit_ajax_edit', {'id': produit.id }), "Editer le produit", "btn-edit-produit") | raw }}
       			{{ deleteObjet(produit.disabled, path('produit_delete', {'id': produit.id, 'page' : 1 }), 'btn-disabled-produit') | raw }}
       		</div>
       	{% endif %}
    </div>
    <div class="card-body">
    	<div class="row align-items-center">	
    		<div class="col-md-12">
            	<table  class="table table-sm">
                	<tr>
                		<th scope="col"> Type </th>
                		<td> {{ produit.type .nom }} </td>
                	</tr>
                	<tr>
                		<th scope="col"> Description </th>
                		<td> 
                		    {{ produit.texte }} <br />
                		    {{ produit.texte2 }} 
                		</td>
                	</tr>
                	{% for extension in produit.extensionFormulaires %}
                	    {% if extension.disabled == 0 %}
                    		<tr>
                    			<th scope="col">{{ extension.libelle }}</th>
                    			<td>{{ extension.valeur }}</td>
                    		</tr>
                		{% endif %}
                	{% endfor %}
                	<tr>
                		<th scope="col"> Tranche d'âge </th>
                		<td> 
                			{% for tranche in produit.trancheAge %}
                		        {{ tranche | trancheAge}} <br/> 
                		    {% endfor %}
                		</td>
                	</tr>
                	<tr>
                		<th scope="col"> Genre </th>
                		<td> {{ produit.genre | genre}} </td>
                	</tr>
                	<tr>
                		<th scope="col"> Quantité </th>
                		<td> {% if admin == true %} {{ produit.quantite }} {% else %} {{ quantite }} {% endif %}</td>
                	</tr>
                	<tr>
                		<th scope="col">Date d'envoi </th>
                		<td> {{ produit.dateEnvoi | date('d/m/Y H:i') }} </td>
                	</tr>
                	{% if admin == true %}
                    	<tr>
                    		<th scope="col"> Date de création </th>
                    		<td> {{ produit.dateCreation | date('d/m/Y H:i') }} </td>
                    	</tr>
                	{% endif %}
                </table>
        	</div>
    	</div>
    	<div class="row align-items-center">
    		{% if produit.image1 != null %}
            	<div class="col-md-4">
                   	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': produit.id, 'type' : 'produit', 'field': 'image_1' }), 'btn-delete-image-1') | raw }}
                    {% endif %}
                    {{ image('produit', produit.image1) | raw }}
               	</div>
            {% endif %}
            	
            {% if produit.image2 != null %}
            	<div class="col-md-4">
                  	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': produit.id, 'type' : 'produit', 'field': 'image_2' }), 'btn-delete-image-2') | raw }}
                    {% endif %}
                	{{ image('produit', produit.image2) | raw }}
                </div>
            {% endif %}
            		
            {% if produit.image3 != null %}
            	<div class="col-md-4">
                  	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': produit.id, 'type' : 'produit', 'field': 'image_3' }), 'btn-delete-image-3') | raw }}
                    {% endif %}
            	  	{{ image('produit', produit.image3) | raw }}
            	</div>
            {% endif %}
    	</div>
    </div>
</div>

<hr>    
    
{% block javascripts %}

    <script type="text/javascript">

    $(document).ready(function() {
    	
        var id_btn_produit = '#btn-edit-produit';
        Produit.EventEdit(id_btn_produit);
        
        var id_btn_delete_produit = '#btn-disabled-produit';
        Produit.EventDelete(id_btn_delete_produit);

        var pas;
        for (pas = 1; pas <= 3; pas++) {
        	Produit.EventDelete('#btn-delete-image-' + pas);
        }
    });
    
    </script> 

{% endblock %}