<div id="ajax_produit_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification du produit #{{ produit.id }} - {{ produit.titre }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
        		{{ form_row(form.titre) }}
            	{{ form_row(form.type) }}
            	{{ form_row(form.genre) }}
            	{{ form_row(form.texte) }}
            	{{ form_row(form.texte_2) }}
    		</div>
    		<div class="col-md-6">
            	{{ form_row(form.tranche_age) }}
            	{{ form_row(form.quantite) }}
            	{{ form_row(form.date_envoi) }}
            	{#{ form_row(form.image) }#}
            </div>
    	</div>
    </div>
        
    <div class="modal-footer">
	    {{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

</div>

{% block javascripts %}

    <script type="text/javascript">
    
    $('#modal_produit_global').modal({
 	   'show' : true,
 	   'backdrop' : 'static'
 	});

 	var url = '{{path('produit_ajax_edit', {'id': produit.id }) }}';
	Produit.EventEditSubmit(url);
	
    </script> 

{% endblock %}