<div id="bloc_produit_liens" class="card">
   	<div class="card-header">
   		Liens avec les établissements
   		{% if is_granted("ROLE_ADMIN") %}
   		<div class="float-right">
       		<a href="{{ path('produit_etablissement_ajax_add', {'id' : produit.id, 'type': 'produit'}) }}" id="btn-add-produit-etablissement"><span class="oi oi-link-intact"></span> Proposer à un nouvel établissement</a>
   			|
       		<a href="{{ path('produit_specialite_ajax_add', {'id' : produit.id, 'type': 'produit'}) }}" id="btn-add-produit-specialite"><span class="oi oi-link-intact"></span> Proposer à une nouvelle spécialité</a>
       		</div>
       		{% endif %}
    </div>
    <div class="card-body">
    	<table class="table table-sm table-striped">
    	   	<tr>
       			<th>Etablissement</th>
       			<th>Spécialité</th>
       			<th>Quantité</th>
       			<th></th>
       		</tr>
       	    {% for connexion in connexions %}
                {% for lien in connexion %}	
               		<tr>
           		        <td>{% if loop.index0 == 0 %}{{ lien.etablissement }}{% endif %}</td>
           				<td>{{ lien.specialite }}</td>
           				<td>{{ lien.quantite }}</td>
           				<td>
           				    {% if is_granted("ROLE_ADMIN") %}
                   				{% if lien.specialite %}
                   					{{ actionEdit(path('produit_specialite_ajax_edit', {'id' : lien.id, 'type':'produit'}), 'btn-edit-produit-specialite-'~ lien.id ) | raw }}
                            	{% else %}
                                    {{ actionEdit(path('produit_etablissement_ajax_edit', {'id' : lien.id, 'type':'produit'}), 'btn-edit-produit-etablissement-'~ lien.id ) | raw }}
                                {% endif %}
                        	{% endif %}
                    	</td>
           			</tr>
       		    {% endfor %}
       	    {% endfor %}
       	</table>
       	
       	{% if connexions is empty %}
        	<p class="text-info text-center">Le produit n'est proposé à aucun établissement et aucune spécialité.</p>
        {% endif %}
	</div>
</div>

<hr>

{% block javascripts %}
	<script type="text/javascript">
    
    $(document).ready(function() {
	    {% if is_granted("ROLE_ADMIN") %}
	    	ProduitSpecialite.EventAdd('#btn-add-produit-specialite');
        	ProduitEtablissement.EventAdd('#btn-add-produit-etablissement');
	    	
        	{% for connexion in connexions %}
        	    {% for lien in connexion %}
        	        {% if lien.specialite %}
        	        	
        				ProduitSpecialite.EventEdit('#btn-edit-produit-specialite-' + {{ lien.id }});
            		{% else %}
            			
        				ProduitEtablissement.EventEdit('#btn-edit-produit-etablissement-' + {{ lien.id }});
            		{% endif %}
		    	{% endfor %}
            {% endfor %}
    	{% endif %}
	});
    
    </script>
{% endblock %}