<div class="card shadow-sm">
	<div class="card-header bg-light">
    	<b>Produit :</b> {{ produit.titre }}
       	<div class="float-right"> 
       		{% if is_granted("ROLE_ADMIN") %}
       			{{ editObjet(path('produit_ajax_edit', {'id': produit.id }), "Editer le produit", "btn-edit-produit") | raw }}
       			{{ deleteObjet(produit.disabled, path('produit_delete', {'id': produit.id, 'page' : 1 }), 'btn-disabled-produit') | raw }}
       		{% endif %}
       	</div>
    </div>
    <div class="card-body">
    	<div class="row align-items-center">
    		<div class="col-md-3">
    		    {% if produit.image != null %}{{ image('produit', produit.image) | raw }}{% endif %}
    		</div>
			<div class="col-md-9">
            	<table  class="table table-sm">
                	<tr>
                		<th scope="col"> Type </th>
                		<td> {{ produit.type | typeProduit }} </td>
                	</tr>
                	<tr>
                		<th scope="col"> Description </th>
                		<td> 
                		    {{ produit.texte }} <br />
                		    {{ produit.texte2 }} 
                		</td>
                	</tr>
                	<tr>
                		<th scope="col"> Tranche d'âge </th>
                		<td> 
                			{% for tranche in produit.trancheAge %}
                		        {{ tranche | trancheAge}} <br/> 
                		    {% endfor %}
                		</td>
                	</tr>
                	<tr>
                		<th scope="col"> Genre </th>
                		<td> {{ produit.genre | genre}} </td>
                	</tr>
                	<tr>
                		<th scope="col"> Quantité </th>
                		<td> {{ produit.quantite }} </td>
                	</tr>
                	<tr>
                		<th scope="col">Date d'envoi </th>
                		<td> {{ produit.dateEnvoi | date('d/m/Y H:i') }} </td>
                	</tr>
                	<tr>
                		<th scope="col">Date de création </th>
                		<td> {{ produit.dateCreation | date('d/m/Y H:i') }} </td>
                	</tr>
                	<tr>
                		<th scope="col"> Actif </th>
                		<td> {{ produit.disabled | actif }} </td>
                	</tr>
                </table>
        	</div>
    	</div>
    </div>
</div>

<hr>    
    
{% block javascripts %}

    <script type="text/javascript">

    $(document).ready(function() {
        var id_btn_produit = '#btn-edit-produit';
        Produit.EventEdit(id_btn_produit);
        
        var id_btn_delete_produit = '#btn-disabled-produit';
        Produit.EventDelete(id_btn_delete_produit);
    });
    
    </script> 

{% endblock %}