{% extends 'base.html.twig' %}

{% block title %} Edition d'un produit {% endblock %}

{% block body %}

    <h1>Modification du produit #{{ produit.id }} - {{ produit.titre }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.titre) }}
    	<div class="row">
        	<div class="col-md-6">
        		{{ form_row(form.type) }}
        	</div>
        	<div class="col-md-6">
        		{{ form_row(form.genre) }}
        	</div>
        </div>
    	{{ form_row(form.texte) }}
    	{{ form_row(form.texte_2) }}
    	{{ form_row(form.tranche_age) }}
    	
    	<div class="row align-middle">
    		<div class="col-md-6 align-middle">
    			{{ form_row(form.quantite) }}
    		</div>
    		<div class="col-md-6 align-middle">
    			{{ form_row(form.date_envoi) }}
    		</div>
    	</div>
    	
    	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
            {{ form_row(form.extension_formulaires) }}
          	<a href="#" id="add_extension" class="btn btn-primary btn-sm">Ajouter un champ</a>
      	</div>
    	
    	<div class="row">
    		<div class="col-md-4">
                {{ form_row(form.image_1) }}
    		</div>
    		<div class="col-md-4">
                {{ form_row(form.image_2) }}
    		</div>
    		<div class="col-md-4">
                {{ form_row(form.image_3) }}
    		</div>
    	</div>
        
        {{ form_rest(form) }}
        {{ form_end(form) }}
        
    </div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/extension_formulaire/ExtensionFormulaire.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/image/Image.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {
    	var texte_aide = "Ne pas remplir si vous souhaitez conserver la même image";
    	Image.Launch();
    	Image.UpdateInput('#produit_image_1', 'Choisir la première image', texte_aide);
    	Image.UpdateInput('#produit_image_2', 'Choisir la deuxième image', texte_aide);
    	Image.UpdateInput('#produit_image_3', 'Choisir la troisième image', texte_aide);

        var paramsEF = {
				id_container : 'div#produit_extension_formulaires',
				id_btn_add : '#add_extension',
				id_label_fieldset : '#label_collection_types',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	ExtensionFormulaire.Launch(paramsEF);
    	ExtensionFormulaire.Event();

    });
    </script> 

{% endblock %}