{% extends 'base.html.twig' %}

{% block title %} Fiche d'un produit {% endblock %}

{% block body %}

    <h1>Fiche du produit #{{ produit.id }} - {{ produit.titre }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_produit">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_produit_temoignage">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_produit_lien">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_produit_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
    <div>extension de formulaire</div>
    <div>questionnaire</div>

{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/temoignage/Temoignage.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit/Produit.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit_etablissement/ProduitEtablissement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit_specialite/ProduitSpecialite.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
		
    	$('#bloc_produit_lien').showLoading();
    
        $(document).ready(function() {
    
        	var paramsP = {
    				url_ajax_see : '{{path('produit_ajax_see', {'id': produit.id}) }}',
    				id_content_modal : '#bloc_modal',
    				id_modal : '#modal_produit_global',
    				id_global : '#bloc_produit',
    		};
            
        	Produit.Launch(paramsP);
        	Produit.LoadProduit();
        	
        	var paramsT = {
    				url_ajax_see : '{{path('temoignage_ajax_see_liste', {'id': produit.id, 'type': 'produit'}) }}',
    				id_content_modal : '#bloc_modal',
    				id_modal : '#modal_produit_global',
    				id_global : '#bloc_produit_temoignage',
    		};
            
        	Temoignage.Launch(paramsT);
        	Temoignage.LoadTemoignage();
    
        	{% if is_granted("ROLE_ADMIN") %}
            	var paramsPE = {
        				url_ajax_see : '{{path('produit_lien_ajax_see', {'id': produit.id}) }}',
        				id_content_modal : '#bloc_modal',
        				id_modal : '#modal_produit_global',
        				id_global : '#bloc_produit_lien',
        		};
                
            	ProduitEtablissement.Launch(paramsPE);
            	ProduitEtablissement.LoadProduitLiens();
        
            	var paramsPS = {
        				url_ajax_see : '{{path('produit_lien_ajax_see', {'id': produit.id}) }}',
        				id_content_modal : '#bloc_modal',
        				id_modal : '#modal_produit_global',
        				id_global : '#bloc_produit_lien',
        		};
                
            	ProduitSpecialite.Launch(paramsPS);
            {% endif %}
        });
    </script>
{% endblock %}