{% extends 'base.html.twig' %}

{% block title %} Fiche d'un produit {% endblock %}

{% block body %}

    <h1>Fiche du produit #{{ produit.id }} - {{ produit.titre }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_produit">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    			<div class="progress" style="height: 25px;">
    				<div class="progress-bar progress-bar-striped progress-bar-animated"
    					role="progressbar" aria-valuenow="75" aria-valuemin="0"
    					aria-valuemax="100" style="width: 50%">Chargement des
    					informations du produit...</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <hr>

	<div id="bloc_produit_temoignage">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    			<div class="progress" style="height: 25px;">
    				<div class="progress-bar progress-bar-striped progress-bar-animated"
    					role="progressbar" aria-valuenow="75" aria-valuemin="0"
    					aria-valuemax="100" style="width: 50%">Chargement des
    					témoignage du produit...</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_produit_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    <br>
    
    <div id="bloc_produit_etablissement" class="card">
    	<div class="card-header">
    		Etablissements
    	</div>
    	<div class="card-body">
    		{% for etablissement in produit.produitEtablissements %}
            	<ul>
            		<li><b>{{ etablissement.etablissement.nom }}</b></li>
            			<ul>
                    		<li><b>Quantité :</b> {{ etablissement.quantite }}</li>
                    		<li><b>Date :</b> {{ etablissement.date | date('d/m/Y') }}</li>
                    		<li><b>Spécialités :</b></li>
                        	    {% for specialite in produit.produitSpecialites %}
                                  	{% if specialite.specialite.etablissement.id == etablissement.etablissement.id %}
                                   		<li class="list-unstyled">
                                   			<ul>
                                   				<li>{{ specialite.specialite.service }} </li>
                                					<ul>
                                        				<li><b>Quantité :</b> {{ specialite.quantite }}</li> 
                                        				<li><b>Date :</b> {{ specialite.date | date('d/m/Y') }}</li>
                                    				</ul>
                                    			</ul>
                                    		</li>
                                	   {% endif %}
                                {% endfor %}
                        	</ul>
                		</ul>
        	{% endfor %}
    	</div>
    </div>
    
    <br>
    
    <!-- <div id="bloc_produit_specialite" class="card">
    	<div class="card-header">
    		Spécialités
    	</div>
    	<div class="card-body">
        	<table class="table table-sm table-striped">
        		<tr>
        			<th>Nom</th>
        			<th>Quantité</th>
        			<th>Date</th>
        		</tr>
                	{# for specialite in produit.produitSpecialites %#}
                		<tr>
                			<td>{#{ specialite.specialite.service }#}</td>
                			<td>{#{ specialite.quantite }#}</td>
                			<td>{#{ specialite.date | date('d/m/Y') }#}</td>
                		</tr>
                	{#% endfor %#}
        	</table>
    	</div>
    </div> -->
    
    <br>
    
    <div>extension de formulaire</div>
    <div>questionnaire</div>

{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/temoignage/Temoignage.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit/Produit.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {

    	var paramsP = {
				url_ajax_see : '{{path('produit_ajax_see', {'id': produit.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_produit_global',
				id_global : '#bloc_produit',
		};
        
    	Produit.Launch(paramsP);
    	Produit.LoadProduit();
    	
    	var paramsT = {
				url_ajax_see : '{{path('temoignage_ajax_see', {'id': produit.id, 'type': 'produit'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_produit_global',
				id_global : '#bloc_produit_temoignage',
		};
        
    	Temoignage.Launch(paramsT);
    	Temoignage.LoadTemoignage();
    });
    
    </script>
{% endblock %}