{% extends 'base.html.twig' %}

{% block title %} Nouvel événement {% endblock %}

{% block body %}

<h1>Ajout d'un nouvel événement</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.type) }}
	
	{{ form_row(form.date_debut) }}
	{{ form_row(form.date_fin) }}
	
	{{ form_row(form.description) }}
	{{ form_row(form.nombre_max) }}
	{{ form_row(form.tranche_age) }}
	{{ form_row(form.date_fin_inscription) }}
	{{ form_row(form.information_complementaire) }}
	
	{{ form_row(form.nom_lieu) }}
	{{ form_row(form.numero_voie) }}
	{{ form_row(form.voie) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.code_postal) }}
	{{ form_row(form.nom_lieu) }}
	
	{{ form_row(form.statut) }}
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.specialite_evenements) }}
      		<a href="#" id="add_specialite" class="btn btn-primary btn-sm">Ajouter une spécialité</a>
  	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block script %}
	<script src="{{ asset('assets/js/utils/FormAddCollection.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				id_container : 'div#evenement_specialite_evenements',
				id_btn_add : '#add_specialite',
				id_label_fieldset : '#label_collection_type',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	FormAddCollection.Launch(params);
		FormAddCollection.Event();
		
    });
    
    </script> 

{% endblock %}