{% extends 'base.html.twig' %}

{% block title %} Nouvel événement {% endblock %}

{% block body %}

<h1>Ajout d'un nouvel événement</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	<div class="row">
		<div class="col-md-11">
	        {{ form_row(form.type) }}
		</div>
		<div class="col-md-1 col align-self-center">
			<button type="button" id="add_type"><span class="oi oi-plus"></span></button>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.date_debut) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.date_fin) }}
		</div>
		<div class="col-md-4">
		    {{ form_row(form.date_fin_inscription) }}
		</div>
	</div>
	
	{{ form_row(form.description) }}
	{{ form_row(form.nombre_max) }}
	{{ form_row(form.tranche_age) }}
	
	{{ form_row(form.information_complementaire) }}
	
	{{ form_row(form.nom_lieu) }}
	{{ form_row(form.numero_voie) }}
	{{ form_row(form.voie) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.code_postal) }}
	{{ form_row(form.nom_lieu) }}
	
	{{ form_row(form.statut) }}
	<div class="row">
		<div class="col-md-4">
            {{ form_row(form.image_1) }}
		</div>
		<div class="col-md-4">
            {{ form_row(form.image_2) }}
		</div>
		<div class="col-md-4">
            {{ form_row(form.image_3) }}
		</div>
	</div>
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.extension_formulaires) }}
      		<a href="#" id="add_extension" class="btn btn-primary btn-sm">Ajouter un champ</a>
  	</div>
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.specialite_evenements) }}
      		<a href="#" id="add_specialite" class="btn btn-primary btn-sm">Ajouter une spécialité</a>
  	</div>
  	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <!-- Modal -->
    <div class="modal fade" id="modal_evenement_global" tabindex="-1" role="dialog">
     	<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
    
</div>
	  
{% endblock %}

{% block script %}
	<script src="{{ asset('assets/js/utils/FormAddCollection.js') }}?{{ date().timestamp }}"></script>
	<script src="{{ asset('assets/js/extension_formulaire/ExtensionFormulaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {

    	$('#add_type').click(function() {
    		$('#evenement_type').append('<option value="12" selected="selected">Kiwi</option>');
    	});
    	$('#evenement_image_1').change(function() {
    		var file = $(this)[0].files[0].name;
    		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
    	});

        $('#evenement_image_2').change(function() {
    		var file = $(this)[0].files[0].name;
    		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
    	});

        $('#evenement_image_3').change(function() {
    		var file = $(this)[0].files[0].name;
    		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
    	});
    	
		var params = {
				id_container : 'div#evenement_specialite_evenements',
				id_btn_add : '#add_specialite',
				id_label_fieldset : '#label_collection_types',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	FormAddCollection.Launch(params);
		FormAddCollection.Event();

		var paramsEF = {
				id_container : 'div#evenement_extension_formulaires',
				id_btn_add : '#add_extension',
				id_label_fieldset : '#label_collection_types',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	ExtensionFormulaire.Launch(paramsEF);
    	ExtensionFormulaire.Event();
    });
    
    </script> 

{% endblock %}