<div id="ajax_evenement_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification de l'événement #{{ evenement.id }} - {{ evenement.nom }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
    	<div class="row">
			<div class="col-md-6">
            	{{ form_row(form.nom) }}
            	{{ form_row(form.type) }}
            </div>
            <div class="col-md-6">
            	{{ form_row(form.description) }}
           	</div>
        </div>
        
       	<div class="row">
            <div class="col-md-6">
                {{ form_row(form.date_debut) }}
           	</div>
            <div class="col-md-6">
            	{{ form_row(form.date_fin) }}
            </div>
        </div>
        <hr>
        
    	<div class="row">
    		<div class="col-md-6">
    		    {{ form_row(form.statut) }}
    		    {{ form_row(form.nombre_max) }}
            	{{ form_row(form.tranche_age) }}
            </div>
            <div class="col-md-6">
            	{{ form_row(form.date_fin_inscription) }}
            	{{ form_row(form.information_complementaire) }}
            </div>
    	</div>
    	<hr>
    	<div class="row">
        	<div class="col-md-6">
            	{{ form_row(form.nom_lieu) }}
            </div>
        </div>
        
       	<div class="row">
       		<div class="col-md-6">
        		{{ form_row(form.numero_voie) }}
        	</div>
        	<div class="col-md-6">
        		{{ form_row(form.voie) }}
        	</div>
       	</div>
       	
       	<div class="row">
        	<div class="col-md-6">
        		{{ form_row(form.code_postal) }}
        	</div>
        	<div class="col-md-6">
        		{{ form_row(form.ville) }}
        	</div>
    	</div>
    	
    	<div class="row">
            <div class="col-md-12">
                <div class="shadow-sm p-3 mb-5 bg-white rounded border">
                    {{ form_row(form.extension_formulaires) }}
                  	<a href="#" id="add_extension" class="btn btn-primary btn-sm">Ajouter un champ</a>
              	</div>
      		</div>
        </div>
    </div>
    
    <div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	
	{{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

</div>

{% block script %}
 	<script src="{{ asset('assets/js/extension_formulaire/ExtensionFormulaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

    	$(document).ready(function() {

            $('#evenement_image').change(function() {
        		var file = $(this)[0].files[0].name;
        		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
        	});
            
        	$('#modal_evenement_global').modal({
     		   'show' : true,
     		   'backdrop' : 'static'
     		});
         	
    		var url = '{{path('evenement_ajax_edit', {'id': evenement.id }) }}';
    		Evenement.EventEditSubmit(url);

    		var paramsEF = {
    				id_container : 'div#evenement_extension_formulaires',
    				id_btn_add : '#add_extension',
    				id_label_fieldset : '#label_collection_types',
    				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
    		};
    	    
    		ExtensionFormulaire.Launch(paramsEF);
    		ExtensionFormulaire.Event();
    		
    	});
    </script> 

{% endblock %}