<div class="card shadow-sm">
	<div class="card-header bg-light">
      	<b>Evénement :</b> {{ evenement.nom }}
       	{% if is_granted("ROLE_ADMIN") %}
       		<br><b>Actif :</b> {{ evenement.disabled | actif }}
       		<div class="float-right"> 
       			{{ editObjet(path('evenement_edit_images', {'id': evenement.id, 'page': page }), "Modifier les images", "") | raw }}
       	    	{{ editObjet(path('evenement_ajax_edit', {'id': evenement.id }), "Editer l'événement", "btn-edit-evenement") | raw }}
       			{{ deleteObjet(evenement.disabled, path('evenement_delete', {'id': evenement.id, 'page' : 1 }), 'btn-disabled-evenement') | raw }}
       			<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Duplication de l'événement sans les dates, les images et les spécialités associées">
       				<a href="{{ path('evenement_duplicate', {'id' : evenement.id}) }}" id="btn-duplicate-evenement" class="btn btn-secondary"><span class="oi oi-fork"></span> Dupliquer</a>
       			</span>
       	    </div>
       	{% endif %}
    </div>
    <div class="card-body">
		<div class="row align-items-center">	
    		<div class="col-md-12">
               	<table  class="table table-sm">
                   	<tr>
                   		<th scope="col"> Date</th>
                   		<td> {{ horaire(evenement.dateDebut, evenement.dateFin) }} </td>
                   	</tr>
                   	<tr>
                   		<th scope="col"> Description </th>
                   		<td> {{ evenement.description }} </td>
                   	</tr>
                   	{% for extension in evenement.extensionFormulaires %}
                   		{% if extension.disabled == 0 %}
                    		<tr>
                    			<th scope="col">{{ extension.libelle }}</th>
                    			<td>{{ extension.valeur }}</td>
                    		</tr>
                		{% endif %}
                	{% endfor %}
                   	<tr>
                   		<th scope="col"> Type </th>
                   		<td> {{ evenement.type.nom }} </td>
                   	</tr>
                   	<tr>
                   		<th scope="col"> Nombre maximum de participants </th>
                   		<td> {{ evenement.nombreMax }} </td>
                   	</tr>
                   	<tr>
                   		<th scope="col"> Tranche d'âge </th>
                   		<td>
                   			{% for tranche in evenement.trancheAge %} 
                   		        {{ tranche | trancheAge }}<br />
                   		    {% endfor %}
                   		</td>
                   	</tr>
                   	<tr>
                   		<th scope="col"> Date limite d'inscription </th>
                   		<td> {{ evenement.dateFinInscription | date('d/m/Y H:i') }} </td>
                   	</tr>
                   	{% if evenement.informationComplementaire %}
                       	<tr>
                       		<th scope="col"> Informations complémentaires </th>
                       		<td> {{ evenement.informationComplementaire }} </td>
                       	</tr>
                   	{% endif %}
                   	<tr>
                   		<th scope="col"> Statut </th>
                   		<td> {{ evenement.statut | statutEvent }} </td>
                   	</tr>
                   	<tr>
                   		<th scope="col"> Lieu </th>
                   		<td>
              			    {{ evenement.nomLieu }}<br />
                 		    {{ evenement.numeroVoie }}, {{ evenement.voie }} <br />
                    		{{ evenement.codePostal }} {{ evenement.ville }} <br />
                    	</td>
                    </tr>
                </table>
            </div>
        </div>
    	<div class="row align-items-center">
    		{% if evenement.image1 != null %}
            	<div class="col-md-4">
                   	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': evenement.id, 'type' : 'evenement', 'field': 'image_1' }), 'btn-delete-image-1') | raw }}
                    {% endif %}
                    {{ image('evenement', evenement.image1) | raw }}
               	</div>
            {% endif %}
            	
            {% if evenement.image2 != null %}
            	<div class="col-md-4">
                  	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': evenement.id, 'type' : 'evenement', 'field': 'image_2' }), 'btn-delete-image-2') | raw }}
                    {% endif %}
                	{{ image('evenement', evenement.image2) | raw }}
                </div>
            {% endif %}
            		
            {% if evenement.image3 != null %}
            	<div class="col-md-4">
                  	{% if is_granted("ROLE_ADMIN") %}
                	    {{ deleteImage(path('image_delete', {'id': evenement.id, 'type' : 'evenement', 'field': 'image_3' }), 'btn-delete-image-3') | raw }}
                    {% endif %}
            	  	{{ image('evenement', evenement.image3) | raw }}
            	</div>
            {% endif %}
    	</div>
    </div>
</div>

<hr>
	
{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
    
        	$('#form_image').change(function() {
        		var file = $(this)[0].files[0].name;
        		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
        	});
            
        	var id_btn_evenement = '#btn-edit-evenement';
            Evenement.EventEdit(id_btn_evenement);
    
            var id_btn_delete_evenement = '#btn-disabled-evenement';
            Evenement.EventDelete(id_btn_delete_evenement);

            var pas;
            for (pas = 1; pas <= 3; pas++) {
            	Evenement.EventDelete('#btn-delete-image-' + pas);
            }

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script> 

{% endblock %}