{% extends 'base.html.twig' %}

{% block title %} Edition d'un événement {% endblock %}

{% block body %}

<h1>Modification de l'événement #{{ evenement.id }} - {{ evenement.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
{{ form_start(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.type) }}
	
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.date_debut) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.date_fin) }}
		</div>
		<div class="col-md-4">
		    {{ form_row(form.date_fin_inscription) }}
		</div>
	</div>
	
	{{ form_row(form.description) }}
	{{ form_row(form.nombre_max) }}
	{{ form_row(form.tranche_age) }}
	
	{{ form_row(form.information_complementaire) }}
	
	{{ form_row(form.nom_lieu) }}
	{{ form_row(form.numero_voie) }}
	{{ form_row(form.voie) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.code_postal) }}
	{{ form_row(form.nom_lieu) }}
	
	{{ form_row(form.statut) }}
	<div class="row">
		<div class="col-md-4">
            {{ form_row(form.image_1) }}
		</div>
		<div class="col-md-4">
            {{ form_row(form.image_2) }}
		</div>
		<div class="col-md-4">
            {{ form_row(form.image_3) }}
		</div>
	</div>
	
	<div class="shadow-sm p-3 mb-5 bg-white rounded border">
        {{ form_row(form.extension_formulaires) }}
      		<a href="#" id="add_extension" class="btn btn-primary btn-sm">Ajouter un champ</a>
  	</div>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/extension_formulaire/ExtensionFormulaire.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/image/Image.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {

    	var texte_aide = "Ne pas remplir si vous souhaitez conserver la même image";
    	Image.Launch();
    	Image.UpdateInput('#evenement_image_1', 'Choisir la première image', texte_aide);
    	Image.UpdateInput('#evenement_image_2', 'Choisir la deuxième image', texte_aide);
    	Image.UpdateInput('#evenement_image_3', 'Choisir la troisième image', texte_aide);

        var paramsEF = {
				id_container : 'div#evenement_extension_formulaires',
				id_btn_add : '#add_extension',
				id_label_fieldset : '#label_collection_types',
				btn_delete : '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>',
		};
        
    	ExtensionFormulaire.Launch(paramsEF);
    	ExtensionFormulaire.Event();
    });
    </script> 

{% endblock %}