{% extends 'base.html.twig' %}

{% block title %} Edition d'un événement {% endblock %}

{% block body %}

<h1>Modification de l'événement #{{ evenement.id }} - {{ evenement.nom }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
	{{ form_row(form.nom) }}
	{{ form_row(form.type) }}
	
	{{ form_row(form.date_debut) }}
	{{ form_row(form.date_fin) }}
	
	{{ form_row(form.description) }}
	{{ form_row(form.nombre_max) }}
	{{ form_row(form.tranche_age) }}
	{{ form_row(form.date_fin_inscription) }}
	{{ form_row(form.information_complementaire) }}
	
	{{ form_row(form.nom_lieu) }}
	{{ form_row(form.numero_voie) }}
	{{ form_row(form.voie) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.code_postal) }}
	{{ form_row(form.nom_lieu) }}
	
	{{ form_row(form.statut) }}
	{{ form_row(form.image) }}
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    
    $(document).ready(function() {
        $('#evenement_image').change(function() {
    		var file = $(this)[0].files[0].name;
    		$('.custom-file label[for="'+ $(this).attr('id') +'"]').html(file);
    	});
    });
    </script> 

{% endblock %}