
{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block body %}

    <h1>Gestion des événements</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div class="card">
    	<div class="card-header">
            {{ pagination.nb_elements }} événement{% if pagination.nb_elements > 1 %}s{% endif %} - Page {{ pagination.page }} / {{ pagination.pages_count }}
        	<a href="{{ path('evenement_add', {'page' : pagination.page}) }}" class="float-right">Nouvel événement</a>
      		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'date_debut'} ), 'Date de début', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'date_fin'} ), 'Date de fin', current_order, current_field) | raw }} </th>
            	<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'nombre_max'} ), 'Nombre maximun de participants', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'description'} ), 'Description', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'information_complementaire'} ), 'Information complémentaire', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'type'} ), 'Type', current_order, current_field) | raw }}</th>
            	<th>{{ headerFilter(path('evenement_listing', {'page' : pagination.page, 'field' : 'statut'} ), 'Statut', current_order, current_field) | raw }}</th>
            	<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-nom', current_search, 'Nom') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-date_debut', current_search, 'Date début') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-date_fin', current_search, 'Date fin') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-nombre_max', current_search, 'Nombre max') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-description', current_search, 'Description') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-information_complementaire', current_search, 'info complémentaire') | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-type', current_search, '', constant('App\\Controller\\EvenementController::TYPE')) | raw }}</td>
        		<td>{{ inputFilter(path('evenement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Evenement-statut', current_search, '', constant('App\\Controller\\EvenementController::STATUT')) | raw }}</td>
        		<td></td>
        	</tr>
        	
  		{% for evenement in evenements %}
        		<tr>
        			<td>{{ evenement.id }}</td>
        			<td>
        				{% if evenement.image != null %}<img src="{{ evenement.image }}" height="50" width="50"/> {% endif %}
        			    {{ evenement.nom }}
        			</td>
        			<td>{{ evenement.dateDebut |date("m/d/Y H:i") }}</td>
        			<td>{{ evenement.dateFin|date("m/d/Y H:i") }}</td>
        			<td>{{ evenement.nombreMax }}</td>
        			<td>{{ evenement.description }}</td>
        			<td>{{ evenement.informationComplementaire }}</td>
        			<td>{{ evenement.type | typeEvent }}</td>
        			<td>{{ evenement.statut | statutEvent }}</td>
        			<td>
        			    {{ actionSee(path('evenement_see', {'id' : evenement.id, 'page' : pagination.page})) | raw }}
        			    {% if is_granted("ROLE_ADMIN") %}
            			    {{ actionEdit(path('evenement_edit', {'id' : evenement.id, 'page' : pagination.page})) | raw }}
            			    {{ actionDelete(evenement.disabled, path('evenement_delete', {'id' : evenement.id, 'page' : pagination.page})) | raw }}
            			{% endif %}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if evenements is empty %}
        	<p class="text-info text-center">Il  n'y a aucun événement correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
{% endblock %}