{% extends 'base.html.twig' %}

{% block title %} Fiche d'un événement {% endblock %}

{% block body %}

    <h1>Fiche de l'événement #{{ evenement.id }} - {{ evenement.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_evenement">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
	
    <div id="bloc_evenement_temoignage">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
	
	{% if is_granted("ROLE_ADMIN") %}
        <div id="bloc_evenement_specialite">
        	<div class="row">
        		<div class="col-md-4 offset-md-4">
        		</div>
        	</div>
        </div>
    	
        <div id="bloc_evenement_historique">
        	<div class="row">
        		<div class="col-md-4 offset-md-4">
        		</div>
        	</div>
        </div>
        
        <div>questionnaire</div>
    {% endif %}
    
    <!-- Modal -->
    <div class="modal fade" id="modal_evenement_global" tabindex="-1" role="dialog">
     	<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>

{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/Temoignage/Temoignage.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/evenement/Evenement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/specialite_evenement/SpecialiteEvenement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/historique/Historique.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    {% if is_granted("ROLE_ADMIN") %}
    	$('#bloc_evenement_historique').showLoading();
    {% else %}
    	$('#bloc_evenement_temoignage').showLoading();
    {% endif %}
    
    $(document).ready(function() {

    	var paramsE = {
				url_ajax_see : '{{path('evenement_ajax_see', {'id': evenement.id, 'page': page }) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_evenement_global',
				id_global : '#bloc_evenement'
		};
        
    	Evenement.Launch(paramsE);
    	Evenement.LoadEvenement();
		
    	var paramsT = {
				url_ajax_see : '{{path('temoignage_ajax_see_liste', {'id': evenement.id, 'type': 'evenement'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_evenement_global',
				id_global : '#bloc_evenement_temoignage',
		};
        
    	Temoignage.Launch(paramsT);
    	Temoignage.LoadTemoignage();

    	{% if is_granted("ROLE_ADMIN") %}
        	var paramsSE = {
    				url_ajax_see : '{{path('specialite_evenement_ajax_see', {'id': evenement.id, 'type': 'evenement'}) }}',
    				id_content_modal : '#bloc_modal',
    				id_modal : '#modal_evenement_global',
    				id_global : '#bloc_evenement_specialite'
    		};
        
        	SpecialiteEvenement.Launch(paramsSE);
        	SpecialiteEvenement.LoadSpecialiteEvenement();
    	
        	var paramsH = {
    				url_ajax_see : '{{path('historique_ajax_see', {'id': evenement.id, 'type': 'evenement'}) }}',
    				id_content_modal : '#bloc_modal',
    				id_modal : '#modal_evenement_global',
    				id_global : '#bloc_evenement_historique',
    		};
            
    		Historique.Launch(paramsH);
    		Historique.LoadHistorique();
		{% endif %}
    });
    
    </script>
{% endblock %}