{% extends 'base.html.twig' %}

{% block title %} Fiche d'un événement {% endblock %}

{% block body %}

    <h1>Fiche de l'événement #{{ evenement.id }} - {{ evenement.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <table  class="table table-sm">
    	<tr>
    		<th scope="col"> Nom </th>
    		<td> {{ evenement.nom }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Date</th>
    		<td> {{ evenement.dateDebut | date('d/m/Y H:i') }} - {{ evenement.dateFin | date('d/m/Y H:i') }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Description </th>
    		<td> {{ evenement.description }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Type </th>
    		<td> {{ evenement.type }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Nombre maximum de participants </th>
    		<td> {{ evenement.nombreMax }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Trabnche d'âge </th>
    		<td> {{ evenement.trancheAge }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Date limite d'inscription </th>
    		<td> {{ evenement.dateFinInscription | date('d/m/Y H:i') }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Informations complémentaires </th>
    		<td> {{ evenement.informationComplementaire }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Statut </th>
    		<td> {{ evenement.statut }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Lieu </th>
    		<td>
    			{{ evenement.nomLieu }}<br />
    		    {{ evenement.numeroVoie }}, {{ evenement.voie }} <br />
    			{{ evenement.codePostal }} {{ evenement.ville }} <br />
    		</td>
    	</tr>
    </table>
    <br />

{% endblock %}