<nav>
    <ul class="pagination justify-content-center">
   	    {% if pagination.pages_count > 0 %}
            {% if pagination.page>1 %}
                <li class="page-item"><a id="page-first-{{ pagination.route }}" class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><span class="oi oi-media-skip-backward"></span></a></li>
                <li class="page-item"><a id="page-previous-{{ pagination.route }}" class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}"> <span class="oi oi-caret-left"></span> </a></li>
            {% endif %}
            {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
            {% for p in range(max(pagination.page-4, 1), 
                min(pagination.page+4, pagination.pages_count)) %}
                <li class="page-item {% if p == pagination.page %} active{% endif %}"><a id="page-{{ pagination.route }}-{{ p }}" class="page-link"  href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
            {% endfor %}
            {% if pagination.page<pagination.pages_count %}
            	<li class="page-item"><a id="page-next-{{ pagination.route }}" class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}"><span class="oi oi-caret-right"></span></a></li>
               	<li class="page-item"><a id="page-last-{{ pagination.route }}" class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}"><span class="oi oi-media-skip-forward"></span></a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>

{% block javascripts %}
	<script type="text/javascript">
	
	{% if pagination.pages_count > 0 %}
        {% if pagination.page>1 %}
    		Pagination.EventChangePage('#page-first-{{ pagination.route }}', '{{ pagination.id_div }}');
    		Pagination.EventChangePage('#page-previous-{{ pagination.route }}', '{{ pagination.id_div }}');
        {% endif %}
		
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
            var id_btn_change_{{ p }} = '#page-{{ pagination.route }}-' + {{ p }};
    		Pagination.EventChangePage(id_btn_change_{{ p }}, '{{ pagination.id_div }}');
        {% endfor %}
        
        {% if pagination.page<pagination.pages_count %}
    		Pagination.EventChangePage('#page-next-{{ pagination.route }}', '{{ pagination.id_div }}');
    		Pagination.EventChangePage('#page-last-{{ pagination.route }}', '{{ pagination.id_div }}');
    		
        {% endif %}
    {% endif %}
		
    </script>
{% endblock %}

