<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">TLMC Project</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item active">
        		<a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
      		</li>

      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Pages OK
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        		
          			<a class="dropdown-item" href="{{ path('patient_listing') }}">Patient</a>
          			<a class="dropdown-item" href="{{ path('questionnaire_listing') }}">Questionnaire</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="{{ path('famille_listing') }}">Famille</a>
          			<a class="dropdown-item" href="{{ path('famille_adresse_listing') }}">Famille Adresse</a>
          		</div>
      		</li>
      		<li class="nav-item" >
        		<a class="nav-link disabled" href="#">Disabled</a>
      		</li>
    	</ul>
    	<span class="navbar-text">
    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
     			Bonjour {{ app.user.username }} 
     			
     			{% for role in app.user.roles %}
     				[{{ role }}]
     			{% endfor %}
     			 - <a href='{{ path('security_logout') }}'>Deconnexion</a>
            {% else %}
     			 <a href='{{ path('security_login') }}'>Connexion</a>
            {% endif %}
      		
    	</span>
  	</div>
</nav>