<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="bar-nav">
	<a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/logo-association-tlmc-small.png') }}" alt="Logo association TLMC"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          			<span class="oi oi-person"></span> Espace patients
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        		
          			<a class="dropdown-item" href="{{ path('patient_listing') }}"><span class="oi oi-person"></span> Patient</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="{{ path('famille_listing') }}"><span class="oi oi-people"></span> Famille</a>
          			<a class="dropdown-item" href="{{ path('famille_adresse_listing') }}"><span class="oi oi-home"></span> Famille Adresse</a>
          		</div>
      		</li>
      		
      		<li class="nav-item">
        		<a class="nav-link" href="{{ path('membre_listing') }}"><span class="oi oi-person"></span> Espace membres</a>
      		</li>
      		
      		<li class="nav-item">
        		<a class="nav-link" href="{{ path('questionnaire_listing') }}"><span class="oi oi-question-mark"></span> Nos questionnaires</a>
      		</li>
      		
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			<span class="oi oi-calendar"></span> Nos évènements
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="{{ path('evenement_listing') }}"><span class="oi oi-calendar"></span> Evénements</a>
          			<a class="dropdown-item" href="{{ path('temoignage_listing', {'type': 'evenement'}) }}"><span class="oi oi-comment-square"></span> Témoignages</a>
          		</div>
      		</li>
      		
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			<span class="oi oi-basket"></span> Nos produits
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="{{ path('produit_listing') }}"><span class="oi oi-basket"></span> Produits</a>
          			<a class="dropdown-item" href="{{ path('temoignage_listing', {'type': 'produit'}) }}"><span class="oi oi-comment-square"></span> Témoignages</a>
          		</div>
      		</li>
      		
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			<span class="oi oi-medical-cross"></span> Nos établissements
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="{{ path('etablissement_listing') }}"><span class="oi oi-medical-cross"></span> Etablissements</a>
          			<a class="dropdown-item" href="{{ path('specialite_listing') }}"><span class="oi oi-medical-cross"></span> Spécialités</a>
          		</div>
      		</li>
      	</ul>
      	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      	<ul class="navbar-nav justify-content-end">
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Bonjour {{ app.user.username }} <span class="nb-message-no-read"></span>
          			{% if app.environment == 'dev' %}
          				{% for role in app.user.roles %}
     						[{{ role }}]
     				    {% endfor %}
          			{% endif %}
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="{{ path('membre_see_fiche', {'id':app.user.id}) }}"><span class="oi oi-person"></span> Mon compte</a>
          			<a class="dropdown-item" href="{{ path('message') }}"><span class="nb-message-no-read-link"></span></a>
          			<div class="dropdown-divider"></div>
          				<a class="dropdown-item" href='{{ path('security_logout') }}'><span class="oi oi-account-logout"></span> Déconnexion</a>
        			</div>
      		</li>
    	</ul>
    	 {% endif %}
    	<span class="navbar-text">
    		{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
     			 <a href='{{ path('security_login') }}'><span class="oi oi-account-login"></span> Connexion</a>
            {% endif %}
      		
    	</span>
  	</div>
</nav>

{% block javascripts %}
    <script type="text/javascript">

    $(document).ready(function() {

		var params = {
			'urlNbMessageNoRead' :  '{{ path('message_ajax_message_read') }}',
		};
    	NavMessage.Launch(params);
    	NavMessage.GetNbMessageNoRead();

    	//var nbMessageInterval = setInterval("NavMessage.GetNbMessageNoRead()", 10000);

    	//setTimeout(function() { clearInterval(nbMessageInterval); }, 300000); 
    });
	
    </script>
{% endblock %}