{% extends 'base.html.twig' %}

{% block title %} Nouvel historique {% endblock %}

{% block body %}

    <h1>Ajout d'un nouvel historique</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
        
        {{ form_row(form.evenement) }}
	    {{ form_row(form.specialite) }}
		{{ form_row(form.patient) }}
        
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
	  
{% endblock %}