<div id="ajax_historique_add">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			{% if type == 'evenement' %}
				Ajouter des participants l'événement {{ objet.nom }}
			{% elseif type == 'specialite' %}
				Ajouter la participation d'un patient à un événement pour la spécialité {{ objet.service }}
			{% elseif type == 'patient' %}
				Ajouter des événements le {{ type }} #{{ objet.id  }} {{ objet.prenom }} {{ objet.nom }}
			{% endif %}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
	    {{ form_row(form.evenement) }}
	    {{ form_row(form.specialite) }}
	    <div id="bloc_patients">{{ form_row(form.patient) }}</div>
		
		<div id="bloc_familles"></div>
	</div>
		
	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}
</div>


{% block script %}
	<script src="{{ asset('assets/js/famille/Famille.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/patient/Patient.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
    
    	$('#modal_{{ type }}_global').modal({
    		   'show' : true,
    		   'backdrop' : 'static'
    	});
    	
		var url = '{{path('historique_ajax_add', {'id': objet.id, 'type':type }) }}';
		Historique.EventAddSubmit(url);

		{% if type != 'patient' %}
    		var paramsP = {
    				url_ajax_see : '{{ path('patient_ajax_add_dropdown') }}',
    				id_patient : '#bloc_patients',
    				id_dropdown : '#historique_specialite'
    		};
        	
    		Patient.Launch(paramsP);
    		Patient.LoadPatientOnChange();
    		Patient.EventChange('#historique_save');
    	{% else %}
        	var paramsF = {
        			url_ajax_see : '{{ path('famille_ajax_liste') }}',
        			id_famille : '#bloc_familles',
        			id_dropdown : '#historique_patient'
        	};
        	
        	Famille.Launch(paramsF);
        	$('#bloc_familles').showLoading();
        	Famille.LoadFamilleOnChange();
		{% endif %}
		
	</script>
{% endblock %}