<div id="ajax_historique_see">
    <div class="card">
        <div class="card-header">
        	Historique
        </div>
        
        <div class="card-body">
        	<table class="table table-sm table-striped">
            	<tr>
            		{% if type != 'membre' %}
                		<th> Membre </th>
                	{% endif %}
                	{% if type != 'specialite' %}
                    	<th> Spécialité </th>
                    {% endif %}
                    {% if type != 'evenement' %}
                    	<th> Evénement </th>
                    {% endif %}
                    <th> Date </th>
                    {% if type != 'patient' %}
                    	<th> Patient </th>
                    {% endif %}
                    <th>Familles</th>
                </tr>
                
                {% for historique in historiques %}
                	<tr>
                		{% if type != 'membre' %}
                    		<td>{{ historique.membre.prenom }} {{ historique.membre.nom }} </td>
                    	{% endif %}
                    	{% if type != 'specialite' %}
                        	<td>{{ historique.specialite.service }} ({{ historique.specialite.etablissement.nom }})</td>
                        {% endif %}
                        {% if type != 'evenement' %}
                        	<td>{{ historique.evenement.nom }}</td>
                       	{% endif %}
                        <td>{{ historique.date | date('d/m/Y H:i') }}</td>
                        {% if type != 'patient' %}
                        	<td>{{ historique.patient.prenom }} {{ historique.patient.nom }}</td>
                        {% endif %}
                        <td>
                        	{% for participant in historique.patient.participants %}
                        		{% if participant.evenement.id == historique.evenement.id %}
                        			{{ participant.famille.prenom }} {{ participant.famille.nom }},
                        			<span class="font-italic">{{ participant.famille.lienFamille | lienParente }}</span>,  
                        			({{ participant.date | date('d/m/Y') }} : {{ participant.statut | statutParticipant }})<br>
                        		{% endif %}
                        	{% endfor %}
                        </td>
                    </tr>
                
                {% endfor %}
        	</table>
        	
        	{% if objet.historiques is empty %}
            	<p class="text-info text-center">Il  n'y a aucun historique pour 
            	
        	    {% if type == 'membre' or type == 'patient' %}
            		ce {{ type }}.</p>
            	{% elseif type == 'specialite' %}
            		pour cette spécialité.</p>
            	{% elseif type == 'evenement' %}
            		pour cet événement.</p>
            	{% endif %}
            	
            {% endif %}
     	</div>
     	
     	<div class="card-footer">
      		{% include 'elements/ajax_pagination.html.twig' %}
      	</div>
    </div>
</div>