<div id="ajax_historique_see">
    <div class="card">
        <div class="card-header">
        	Historique
        	<a href="{{ path('historique_ajax_add', {'id' : objet.id, 'type':type}) }}" id="btn-add-historique" class="float-right"><span class="oi oi-book"></span> Nouvel historique</a>
        </div>
        
        <div class="card-body">
        	<table class="table table-sm table-striped">
            	<tr>
            		{% if type != 'membre' %}
                		<th> Membre </th>
                	{% endif %}
                	{% if type != 'specialite' %}
                    	<th> Spécialité </th>
                    {% endif %}
                    {% if type != 'evenement' %}
                    	<th> Evénement </th>
                    {% endif %}
                    {% if type != 'patient' %}
                    	<th> Patient </th>
                    {% endif %}
                    <th> Date </th>
                    <th></th>
                </tr>
                
                {% for historique in objet.historiques %}
                	<tr>
                		{% if type != 'membre' %}
                    		<td>{{ historique.membre.prenom }} {{ historique.membre.nom }} </td>
                    	{% endif %}
                    	{% if type != 'specialite' %}
                        	<td>{{ historique.specialite.service }}</td>
                        {% endif %}
                        {% if type != 'evenement' %}
                        	<td>{{ historique.evenement.nom }}</td>
                       	{% endif %}
                        {% if type != 'patient' %}
                        	<td>{{ historique.patient.prenom }} {{ historique.patient.nom }}</td>
                        {% endif %}
                        <td>{{ historique.date | date('d/m/Y H:i') }}</td>
                        <td>
                        	<a href="{{ path('historique_ajax_edit', {'id' : historique.id, 'objet_id': objet.id, 'type':type}) }}" id="btn-edit-historique-{{ historique.id }}"  title="Editer la fiche"><span class="oi oi-pencil"></span></a>
                        </td>
                    </tr>
                
                {% endfor %}
        	</table>
        	
        	{% if objet.historiques is empty %}
            	<p class="text-info text-center">Il  n'y a aucun historique pour 
            	
        	    {% if type == 'membre' or type == 'patient' %}
            		ce {{ type }}.</p>
            	{% elseif type == 'specialite' %}
            		pour cette spécialité.</p>
            	{% elseif type == 'evenement' %}
            		pour cet événement.</p>
            	{% endif %}
            	
            {% endif %}
     	</div>
    </div>
    
    
    {% block javascripts %}
        <script type="text/javascript">
            var id_btn_add = '#btn-add-historique';
            Historique.EventAdd(id_btn_add);

          	//on associe une action pour chaque bouton edit
            {% for historique in objet.historiques %}
            	var id_btn_edit_{{ historique.id }} = '#btn-edit-historique-' + {{ historique.id }};
            	Historique.EventEdit(id_btn_edit_{{ historique.id }});
            {% endfor %}
			
        </script>
    {% endblock %}
</div>