<div id="ajax_historique_see">
    <div class="card">
        <div class="card-header">
        	{% if type == 'evenement' %}
        		Participants
        	{% elseif type == 'membre' %}	
        		Historiques des participations aux événements des patients
        	{% elseif type == 'specialite' %}
        		Historique des événements et des participations
        	{% elseif type == 'patient' %}
        		Evénements auxquels le patient a participé
        	{% endif %}
        	<div class="float-right"> 
        		{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT")%}
           	   		
           	   		{% if type == 'evenement' %}
           	   			<a href="{{ path('historique_ajax_add', {'id' : objet.id, 'type': type}) }}" id="btn-add-historique" class="float-right"><span class="oi oi-people"></span> Ajouter des participants</a>
           	   		{% elseif type == 'patient' %}
           	   			<a href="{{ path('historique_ajax_add', {'id' : objet.id, 'type': type}) }}" id="btn-add-historique" class="float-right"><span class="oi oi-calendar"></span> Ajouter des événements</a>
           	   		{% elseif type == 'specialite' %}
           	   			<a href="{{ path('historique_ajax_add', {'id' : objet.id, 'type': type}) }}" id="btn-add-historique" class="float-right"><span class="oi oi-people"></span> Ajouter la participation d'un patient à un événement</a>
           	   		{% endif %}
           	   	{% endif %}
           	</div>
        </div>
        
        <div class="card-body">
        	<table class="table table-sm table-striped">
            	<tr>
            		{% if type != 'specialite' %}
                    	<th> Spécialité </th>
                    {% endif %}
                    {% if type != 'evenement' %}
                    	<th>Date</th>
                    	<th> Evénement </th>
                    {% endif %}
                    {% if type != 'patient' %}
                    	<th> Patient </th>
                    {% endif %}
                    <th>Familles</th>
                </tr>
                
                {% for historique in historiques %}
                	<tr>
                        {% if type != 'specialite' %}
                        	<td>{{ historique.specialite.service }} ({{ historique.specialite.etablissement.nom }})</td>
                        {% endif %}
                        {% if type != 'evenement' %}
                        	<td>{{ horaire(historique.evenement.dateDebut, historique.evenement.dateFin) }}</td>
                        	<td>{{ historique.evenement.nom }}</td>
                       	{% endif %}
                        {% if type != 'patient' %}
                        	<td>{{ historique.patient.prenom }} {{ historique.patient.nom }}</td>
                        {% endif %}
                        <td>
                        	{% for participant in historique.patient.participants %}
                        		{% if participant.evenement.id == historique.evenement.id %}
                        			{{ participant.famille.prenom }} {{ participant.famille.nom }},
                        			<span class="font-italic">{{ participant.famille.lienFamille | lienParente }}</span>,  
                        			({{ participant.statut | statutParticipant }})<br>
                        		{% endif %}
                        	{% endfor %}
                        </td>
                    </tr>
                
                {% endfor %}
        	</table>
        	
        	{% if historiques is empty %}
            	<p class="text-info text-center">
                	{% if type == 'membre' or type == 'patient' %}
                		Il  n'y a aucun historique pour ce {{ type }}.
                	{% elseif type == 'specialite' %}
                		Il  n'y a aucun historique pour cette spécialité.
                	{% elseif type == 'evenement' %}
                		il n'y a aucun participant pour cet événement.
                	{% endif %}
            	</p>
            {% endif %}
     	</div>
     	
     	<div class="card-footer">
      		{% include 'elements/ajax_pagination.html.twig' %}
      	</div>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">

            var id_btn_add = '#btn-add-historique';
        	Historique.EventAdd(id_btn_add);
			
        </script>
    {% endblock %}
    
</div>

