{% extends 'base.html.twig' %}

{% block title %} Edition d'un historique {% endblock %}

{% block body %}

    <h1>Modification de l'historique #{{ historique.id }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div>
        {{ form_start(form) }}
        
        {{ form_row(form.evenement) }}
	    {{ form_row(form.specialite) }}
		{{ form_row(form.patient) }}
		
		<div id="bloc_familles">
			{% for participant in participants %}
				{{ participant.famille.prenom }} {{ participant.famille.nom }} ({{ participant.famille.lienFamille | lienParente }})
				{{ selectStatut('participant['~ participant.id ~'][statut]', participant.statut, 'participant_' ~ participant.id ~ '_statut') |raw }}
                <br>
			{% endfor %}
		</div>
        
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
	  
{% endblock %}