{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
	<h1>Gestion de l'historique</h1>
	
	{% include 'elements/arborescence.html.twig' %}

	<div class="card">
    	<div class="card-header">
            {{ pagination.nb_elements }} historique{% if pagination.nb_elements > 1 %}s{% endif %} - Page {{ pagination.page }} / {{ pagination.pages_count }}
        	<a href="{{ path('historique_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-book"></span> Nouvel historique</a>
      		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
          	<table class="table table-sm table-striped">
            	<tr>
            		<th>{{ headerFilter(path('historique_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
            		<th>Evénement</th>
            		<th>Spécialité</th>
            		<th>Patient</th>
            		<th>Membre</th>
            		<th>{{ headerFilter(path('historique_listing', {'page' : pagination.page, 'field' : 'date'} ), 'Date', current_order, current_field) | raw }}</th>
            		<th></th>
            	</tr>
    			<tr>
            		<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-id', current_search, 'Identifiant') | raw }}</td>
        			<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-evenement-nom', current_search, 'Evénement') | raw }}</td>
        			<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-specialite-service', current_search, 'Spécialité') | raw }}</td>
        	   		<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-patient-nom', current_search, 'Nom du patient') | raw }}</td>
        	   		<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-membre-nom', current_search, 'Nom du membre') | raw }}</td>
        	   		<td>{{ inputFilter(path('historique_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Historique-date', current_search, 'Etablissement') | raw }}</td>
        	   		<td></td>
            	</tr>
    	        {% for historique in historiques %}
    		 		<tr>
        				<td>{{ historique.id }}</td>
        				<td>{{ historique.evenement.nom }}</td>
        				<td>{{ historique.specialite.service }}</td>
        	   			<td>{{ historique.patient.prenom }} {{ historique.patient.nom }}</td>
        	   			<td>{{ historique.membre.prenom }} {{ historique.membre.nom }}</td>
        	   			<td>{{ historique.date |date("d/m/Y H:i") }}</td>
        	   			<td>
        	   				{{ actionEdit(path('historique_edit', {'id' : historique.id, 'page' : pagination.page})) | raw }}
        	   			</td>
    	   			</tr>
    	   		{% endfor %}
			</table>
			
			{% if historiques is empty %}
        		<p class="text-info text-center">Il  n'y a aucun historique correspondant à votre recherche.</p>
            {% endif %}
			
    	</div>
    	
      	<div class="card-footer">
        	{% include 'elements/pagination.html.twig' %}
        </div>
	</div>
{% endblock %}
