<h3>Rappel : Questionnaire en attente de réponse</h3>

Bonjour Madame/Monsieur <b>{{ prenom |raw }} {{ nom |raw }}</b>,<br/><br/>

Nous vous rappelons que vous avez &eacute;t&eacute; sollicit&eacute; pour r&eacute;pondre au questionnaire <a href="">#{{ id }} - {{ titre }}</a>, sur la plateforme TLMC.<br/><br/>

Pourriez-vous s'il vous pla&icirc;t prendre quelques minutes pour y r&eacute;pondre ? Ces questionnaires sont tr&eagrave;s importants pour que l'association puisse se développer et s'améliorer. Par avance, merci !<br/>

Vous pouvez y acc&eagrave;der en cliquant sur le lien du questionnaire : <a href="">{{ lien }}</a><br/>

En cas de perte ou d'oubli de votre mot de passe, cliquez sur "mot de passe oubli&eacute;" ou sollicitez un administrateur de la plateforme.<hr>
<small class="text-muted">Attention, vos identifiants sont strictement personnels, merci de veiller &agrave; leur confidentialit&eacute;.</small>