{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block body %}

    <h1>Gestion des établissements</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div class="card">
    	<div class="card-header">
            {{ pagination.nb_elements }} établissement{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
        	<a href="{{ path('etablissement_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-medical-cross"></span> Nouvel établissement</a>
      		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'nom'} ), 'Nom', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'type'} ), 'Type', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'code_logistique'} ), 'Code logistique', current_order, current_field) | raw }} </th>
            	<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'nb_lit'} ), 'Nombre de lit', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'statut_convention'} ), 'Statut de la convention', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'date_collaboration'} ), 'Date de début de la collaboration', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'numero_voie'} ), 'N° de voie', current_order, current_field) | raw }} </th>
            	<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'voie'} ), 'Voie', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'code_postal'} ), 'Code Postal', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'ville'} ), 'Ville', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : 'region'} ), 'Région', current_order, current_field) | raw }} </th>
            	<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-nom', current_search, 'Nom') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-type', current_search, 'Type') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-code_logistique', current_search, 'Code logistique') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-nb_lit', current_search, 'Nombre de lits') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-statut_convention', current_search, '', constant('App\\Controller\\EtablissementController::STATUT_CONVENTION')) | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-date_collaboration', current_search, 'Date collaboration') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-numero_voie', current_search, 'N° voie') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-voie', current_search, 'Voie') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-code_postal', current_search, 'Code postal') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-ville', current_search, 'Ville') | raw }}</td>
        		<td>{{ inputFilter(path('etablissement_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Etablissement-region', current_search, 'Région') | raw }}</td>
        		<td></td>
        	</tr>
        	
  		{% for etablissement in etablissements %}
        		<tr>
        			<td>{{ etablissement.id }}</td>
        			<td>{{ etablissement.nom }}</td>
        			<td>{{ etablissement.type }}</td>
        			<td>{{ etablissement.codeLogistique }}</td>
        			<td>{{ etablissement.nbLit }}</td>
        			<td>{{ etablissement.statutConvention | statutConvention}}</td>
        			<td>{{ etablissement.dateCollaboration | date('d/m/Y') }}</td>
        			<td>{{ etablissement.numeroVoie }}</td>
        			<td>{{ etablissement.voie }} </td>
        			<td>{{ etablissement.codePostal }}</td>
        			<td>{{ etablissement.ville }}</td>
        			<td>{{ etablissement.region }}</td>
        			<td>
        			    {{ actionSee(path('etablissement_see', {'id' : etablissement.id, 'page' : pagination.page})) | raw }}
        			    {{ actionEdit(path('etablissement_edit', {'id' : etablissement.id, 'page' : pagination.page})) | raw }}
        			    {{ actionDelete(etablissement.disabled, path('etablissement_delete', {'id' : etablissement.id, 'page' : pagination.page})) | raw }}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if etablissements is empty %}
        	<p class="text-info text-center">Il  n'y a aucun établissement correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
{% endblock %}
