{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/EtablissementController.php'|file_link(0) }}">src/Controller/EtablissementController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/etablissement/index.html.twig'|file_link(0) }}">templates/etablissement/index.html.twig</a></code></li>
    </ul>
</div>

<div>
	
	{% for etablissement in etablissements %}
		Nom :
	    {{ etablissement.nom }}
		<br /> Type :
	    {{ etablissement.type }}
		
		<br />Code logistique :
	    {{ etablissement.codeLogistique }}
		
		<br />Adresse : 
		{{ etablissement.numeroVoie }}, {{ etablissement.voie }} - {{ etablissement.ville }}
		
		<br />	
		<br />
	    Specialites :<br />	
	    {% for specialite in etablissement.specialites %}
	    	--- Service : {{ specialite.service }}<br />
	    	--- Code Logistique : {{ specialite.codeLogistique }}
	    	<br/>
	    	<br />	
	    {% endfor %}
	        	<br />
	        	
	    Produits :<br />	
	    {% for produit in etablissement.produits %}
	    	--- Produit : {{ produit.produit.titre }}<br />
	    	<br/>
	    	<br />	
	    {% endfor %}
		<hr>
	{% endfor %}
	

</div>

{% endblock %}
