{% extends 'base.html.twig' %}

{% block title %} Fiche d'un établissement {% endblock %}

{% block body %}

    <h1>Fiche de l'établissement #{{ etablissement.id }} - {{ etablissement.nom }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <div id="bloc_etablissement">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
	
	<div id="bloc_etablissement_specialite">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>

	<div id="bloc_produit_etablissement">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    		</div>
    	</div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_etablissement_global" tabindex="-1" role="dialog">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content" id="bloc_modal"></div>
    	</div>
    </div>
	
{% endblock %}

{% block script %}
 	<script src="{{ asset('assets/js/specialite/Specialite.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/etablissement/Etablissement.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/produit_etablissement/ProduitEtablissement.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

	$('#bloc_produit_etablissement').showLoading();
    
    $(document).ready(function() {

    	var paramsE = {
				url_ajax_see : '{{path('etablissement_ajax_see', {'id': etablissement.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_etablissement_global',
				id_global : '#bloc_etablissement'
		};
        
    	Etablissement.Launch(paramsE);
    	Etablissement.LoadEtablissement();
    	
		var paramsS = {
				url_ajax_see : '{{path('specialite_etablissement_ajax_see', {'id': etablissement.id}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_etablissement_global',
				id_global : '#bloc_etablissement_specialite',
				id_bloc_etablissement : '',
				id_specialite : ''
		};
        
    	Specialite.Launch(paramsS);
    	Specialite.LoadSpecialite();

    	var paramsPE = {
				url_ajax_see : '{{path('produit_etablissement_ajax_see', {'id': etablissement.id, 'type': 'etablissement'}) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_etablissement_global',
				id_global : '#bloc_produit_etablissement',
		};
        
    	ProduitEtablissement.Launch(paramsPE);
    	ProduitEtablissement.LoadProduitEtablissement();
    });
    
    </script>
{% endblock %}