<div id="ajax_messages_brouillons">
	<div class="bloc_btn_messagerie">
		<a href="#" id="select-all" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Tout selectionner"><span class="oi oi-arrow-thick-bottom"></span></a>
		<a href="{{ path('message_ajax_corbeille') }}" id="delete-all" class="btn btn-secondary btn-sm" data-corbeille="1" data-role="brouillons" data-placement="top" title="Supprimer"><span class="oi oi-trash" ></span></a>
		<div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            	<span class="oi oi-ellipses"></span>
            </button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-read" data-role="brouillons">Marquer comme lu</a>
              	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-no-read" data-role="brouillons">Marquer comme non lu</a>
            </div>
     	</div>
		<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Nouveau message"><span class="oi oi-envelope-closed"></span> + </a>
	</div>
	<div class="list-group">
        {% if messages is not empty %}
		    {% for message in messages %}
			   {{ listingMessage(message, app.user.id, path('message_ajax_view_message', {'id' : message.id})) | raw }}
		    {% endfor %}
		{% else %}
			<div class="text text-info text-center"><i>Aucun brouillon enregistré</i></div>
		{% endif %}
    </div>

    {% include 'elements/ajax_pagination.html.twig' %}
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {
		Messagerie.EventListeMessage('#ajax_messages_brouillons');

		{% if messages is not empty %}
			$('#ajax_messages_brouillons .list-group a.list-group-item').first().addClass("active");
			$('#ajax_messages_brouillons .list-group a.list-group-item').first().children('span').removeClass().addClass('oi oi-envelope-open');
			$('#ajax_messages_brouillons .list-group a.list-group-item').first().children('div[class="small-body"]').css( "font-weight", "normal" );
			$('#ajax_messages_brouillons .list-group a.list-group-item').first().removeClass('no-read');

			{% set message = messages |first %}
			Messagerie.LoadMessage('{{path('message_ajax_view_message', {'id' : message.id})}}');
        {% else %}
		 	$('#messagerie-block #bloc_view_message').html('');
		{% endif %}
	});
		
    </script>
{% endblock %}