{% set role = 'reception' %}
{% if message.brouillon == 1 %}
    {% set role = 'brouillons' %}
{% elseif message.expediteur.id == app.user.id %}
    {% set role = 'envoyes' %}
{% endif %}
            	
{% for messageLu in message.messageLus  %}
    {% if(messageLu.membre.id == app.user.id) %}
        {% if(messageLu.corbeille == 1) %}
            {% set role = 'corbeille' %}
        {% endif %}
    {% endif %}
{% endfor %}

<div id="ajax_view_message">
	<div class="bloc_btn_messagerie">
		{% if role == 'reception' %}
			<a href="{{ path('message_ajax_edit_message', {'id' : message.id, 'brouillon' : 1, 'page' : page}) }}" id="new-message" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Répondre"><span class="oi oi-arrow-thick-left"></span></a>
		{% endif %}
		{% if role == 'brouillons' %}
       		<a href="{{ path('message_ajax_edit_message', {'id' : message.id, 'brouillon' : 1, 'page' : page}) }}" class="btn btn-info btn-sm" id="new-message" data-toggle="tooltip" data-placement="top" title="Editer le brouillon"><span class="oi oi-pencil"></span></a>
       	{% endif %}
		<div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            	<span class="oi oi-ellipses"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">       	
            	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-read" data-role="{{ role }}" data-id="{{ message.id }}">Marquer comme lu</a>
              	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-no-read" data-role="{{ role }}" data-id="{{ message.id }}">Marquer comme non lu</a>
            </div>
       	</div>
       	<a href="#" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Corbeille"><span class="oi oi-trash"></span></a>
       	<div class="float-right">
       		<i>Groupes auxquels vous participez : {% for groupe in groupes %}
            #{{ groupe.nom }}
       		{% endfor %}</i>
       	</div>
       
	</div>
	
	<div class="card">
  		<div class="card-header message-view bg-light">
    		{{ message.titre }}
    		<div class="float-right center">
    			{% if role == 'brouillons' or (role == 'corbeille' and message.brouillon == 1) %}
    				<i>Brouillon enregistré {{ formatDateMessage(message.dateEnvoi) }}</i>
    			{% elseif role == 'envoyes' or (role == 'corbeille' and message.expediteur.id == app.user.id) %}
    				<i>Message envoyé à {{ message.destinataire.prenom }} {{ message.destinataire.nom }} {{ formatDateMessage(message.dateEnvoi) }}</i>
    			{% else %}
    				<i>Message envoyé par {{ message.expediteur.prenom }} {{ message.expediteur.nom }} {{ formatDateMessage(message.dateEnvoi) }}</i>
    			{% endif  %}
    		</div>
  		</div>
  		<div class="card-body">
  			<div>
  	
  			    {% if message.expediteur.avatar %}
  			    {{ image('membre', message.expediteur.avatar, 'img-fluid float-left shadow-sm') | raw }}
  				{% else %}
  				{{ image('membre', 'user_default_picture.gif', 'img-fluid float-left shadow-sm') | raw }}
  				{% endif %}
  				
  				De {{ message.expediteur.prenom }} {{ message.expediteur.nom }} &lsaquo;{{ message.expediteur.email }}&rsaquo; <br />
  				<i>{{ message.titre }}</i> <br />
  				{% if message.destinataire.id == app.user.id %}
  					<small><i>A moi</i>
  				{% else %}
  					<small>A {{ message.destinataire.prenom }} {{ message.destinataire.nom }} &lsaquo;{{ message.destinataire.email }}&rsaquo;</small>
  				{% endif %}
  			</div>
  			<div class="clearfix"></div>
  			Pièces-jointes : <a href="#"><span class="oi oi-paperclip"></span> pièce-jointe-1.xml</a> | <a href="#"><span class="oi oi-paperclip"></span> pièce-jointe-2.csv</a>
  			<hr />
  			<div class="corps">
    		    {{ message.corps | raw }}
    		</div>
  		</div>
	</div>
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {

		$('#messagerie-block #ajax_view_message a').tooltip();
		Messagerie.EventListeMessage('#ajax_view_message');
	});	
    </script>
{% endblock %}