<div id="ajax_new_message">
{{ form_start(form, {'attr' : {'id' : 'form_message', 'action' : path('message_ajax_edit_message', {id : message.id, brouillon : 1, page : page}), 'data-page' : page}}) }}
    <div class="modal-header">
    	<h5 class="modal-title">Rédigez votre nouveau message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="form-message-btn-close">
        	<span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    	{% set class_err_dest = '' %}
      	{% if(str_erreur_destinataire != "") %}
  			{% set class_err_dest = 'is-invalid' %}
  		{% endif %}
    	<div class="form-group">
    		<label for="destinataire">Destinataires</label>
    		<input type="hidden" id="destinataire_hidden" name="destinataire[destinataire]" value="{{ destinataire_id }}">
    		<input type="text" class="form-control {{ class_err_dest }}" id="destinataire" placeholder="Destinataire" value="{{ destinataire }}">
    		<div class="invalid-feedback">
        	{{ str_erreur_destinataire }}
      		</div>
  		</div>
  		
    	{{ form_row(form.titre) }}
    	{{ form_row(form.corps) }}
    	<div id="erreur_corps_block" class="invalid-feedback">
            {{ str_erreur_corps }}
      	</div>
    	
    	<div class="card shadow-sm" id="option-form-message">
  			<div class="card-body">
  				<div class="opt"><b>Options</b></div>
  				<hr />
    			<div class="row">
    				<div class="col-6">
    					<div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-signature">
                            <input type="hidden" id="membre-signature" value="{{ membre.signature }}"/>
                            <label class="form-check-label" for="checkbox-signature" id="label-checkbox-signature">Ajouter ma signature en fin de mail</label>
                  		</div>
    				</div>
    				<div class="col-6">
    					{% if is_granted("ROLE_ADMIN") %}	
                      		<div class="form-group">
                            	<label for="ajout-questionnaire">Inclure un lien vers un questionnaire à mon message</label>
                            	<select class="form-control col-6" id="ajout-questionnaire">   
                            		<option value="">Choix questionnaire</option>     
                                    {% for questionnaire in questionnaires %}
                                    	<option value="{{ questionnaire.slug }}">{{ questionnaire.titre }}</option>
                            	    {% endfor %}
                          		</select>
                      		</div>
  		                {% endif %}
    				</div>
    			</div>
  			</div>
		</div>
    	

    	<div class="float-right text-success" id="info-save-brouillon"></div>
    	<div class="text-info" id="info-brouillon-info"><i><span class="oi oi-info"></span> Votre message est automatiquement enregistré toutes les 20 secondes en brouillon</i></div>
    	<br/>
    	
    </div>
    <div class="modal-footer">
    	{{ form_row(form.submit) }}
    </div>
    {{ form_rest(form) }}
	{{ form_end(form) }}
</div>
    
{% block javascripts %}
<script type="text/javascript">

	var interval;
	$(document).ready(function() {

		// Prevent jQuery UI dialog from blocking focusin
		$(document).on('focusin', function(e) {
		    if ($(e.target).closest(".mce-window, .moxman-window").length) {
		        e.stopImmediatePropagation();
		    }
		});

		tinymce.init({
		    selector: '#message_corps',
		    height: 230,
		    plugins: 'link image advlist lists help preview table wordcount searchreplace emoticons',
		    language: 'fr_FR'
		  });

		interval = setInterval(function() {clearInterval(Messagerie.SaveBrouillon(tinymce.activeEditor.getContent()))}, 20000); 
		
		Messagerie.EventPopin();
		Messagerie.AutoComplete('{{path('membre_ajax_autocomplete')}}');
		Messagerie.valideCorpsMessage('{{ str_erreur_corps }}');

		
	});

	$('#modal_message_global').modal({
		   'show' : true,
	   	'backdrop' : 'static'
	});

	// Evènement à la fermeture de la fenêtre par la croix en haut à droite de la pop-in
	$('#form-message-btn-close').click(function() {
		Messagerie.SaveBrouillon(tinymce.activeEditor.getContent(),{{page}});
	})
	
	//
	$('#modal_message_global').on('hidden.bs.modal', function (e) {
		clearInterval(interval);
		setTimeout(function() {tinymce.remove()}, 100);
	});
	
</script>
{% endblock %}