<div id="ajax_messages_corbeille">
	<div class="bloc_btn_messagerie">
		<a href="#" id="select-all" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Tout selectionner"><span class="oi oi-arrow-thick-bottom"></span></a>
		<a href="{{ path('message_ajax_corbeille') }}" id="delete-all" class="btn btn-success btn-sm" data-corbeille="0" data-role="corbeille" data-placement="top" title="Restaurer"><span class="oi oi-aperture" ></span></a>
		<div class="btn-group" role="group">
    		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			<span class="oi oi-ellipses"></span>
    		</button>
        	<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-read" data-role="corbeille">Marquer comme lu</a>
              	<a class="dropdown-item msg-read-no-read" href="{{ path('message_ajax_read_no_read') }}" id="message-no-read" data-role="corbeille">Marquer comme non lu</a>
        	</div>
		</div>
  		<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Nouveau message/brouillon"><span class="oi oi-envelope-closed"></span> + </a>
	</div>
	<div class="bloc_listing">
    	<div class="list-group">
            {% if messages is not empty %}
    		    {% for message in messages %}
    			   {{ listingMessage(message, app.user.id, path('message_ajax_view_message', {'id' : message.id})) | raw }}
    		    {% endfor %}
    		{% else %}
    			<div class="text text-info text-center"><i>Aucun message dans votre corbeille</i></div>
    		{% endif %}
        </div>
    </div>
   
    {% include 'elements/ajax_pagination.html.twig' %}
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {
		Messagerie.EventListeMessage('#ajax_messages_corbeille');

		{% if messages is not empty %}

			{% set message = messages |first %}
			Messagerie.LoadMessage('{{path('message_ajax_view_message', {'id' : message.id})}}');
        {% else %}
		 	$('#messagerie-block #bloc_view_message').html('');
		{% endif %}
	});

	$('#messagerie-block #ajax_messages_corbeille a').tooltip();
	
    </script>
{% endblock %}