{% extends 'base.html.twig' %}

{% block title %} Messagerie {% endblock %}

{% block body %}

<div id="messagerie-block">

	<h1>Ma messagerie</h1>
	
    <div class="row align-items-start no-gutters">
    	<div class="col-1">
    		<div id="bloc_search" class="bloc_btn_messagerie">
				<div class="input-group input-group-sm">
                 	<input type="text" class="form-control border-primary" placeholder="Rechercher...">
                  	<div class="input-group-append">
                    	<button class="btn btn-outline-primary" type="button" id="search-btn"><span class="oi oi-magnifying-glass"></span></button>
                  	</div>
                </div>
			</div>
            <div class="nav flex-column nav-pills" id="v-pills-messagerie" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="reception" data-toggle="pill" href="#v-pills-reception" role="tab" aria-controls="v-pills-reception" aria-selected="true">
              	<span class="oi oi-home"></span> <span class="nav-text">Réception</span>
              </a>
              <a class="nav-link" id="brouillons" data-toggle="pill" href="#v-pills-brouillons" role="tab" aria-controls="v-pills-brouillons" aria-selected="false">
              	<span class="oi oi-file"></span> <span class="nav-text">Brouillons</span>
              </a>
              <a class="nav-link" id="envoyes" data-toggle="pill" href="#v-pills-envoyes" role="tab" aria-controls="v-pills-envoyes" aria-selected="false">
              	<span class="oi oi-share"></span> <span class="nav-text">Envoyés</span>
              </a>
              <a class="nav-link" id="corbeille" data-toggle="pill" href="#v-pills-corbeille" role="tab" aria-controls="v-pills-corbeille" aria-selected="false">
              	<span class="oi oi-trash"></span> <span class="nav-text">Corbeille</span>
              </a>
            </div>
        </div>
        <div class="col-3">
            <div class="tab-content" id="v-pills-tabContent">
             	<div class="tab-pane fade show active" id="v-pills-reception" role="tabpanel" aria-labelledby="v-pills-reception-tab">
             		<div class="bloc_btn_messagerie"></div>
					&nbsp;&nbsp;&nbsp;&nbsp;Chargement des messages...
              	</div>
              	<div class="tab-pane fade" id="v-pills-brouillons" role="tabpanel" aria-labelledby="v-pills-brouillons-tab"></div>
              	<div class="tab-pane fade" id="v-pills-envoyes" role="tabpanel" aria-labelledby="v-pills-envoyes-tab"></div>
              	<div class="tab-pane fade" id="v-pills-corbeille" role="tabpanel" aria-labelledby="v-pills-corbeille-tab"></div>
            </div>
        	</div>
        <div class="col-8">
       		<div class="bloc_btn_messagerie"></div>
        </div>
    </div>
</div>

{% endblock %}

 {% block script %}
 	<script src="{{ asset('assets/js/message/Messagerie.js') }}?{{ date().timestamp }}"></script>
 {% endblock %}

{% block javascripts %}
<script type="text/javascript">

$(document).ready(function() {

	var params = {
		'urlRef' :  '{{ path('message') }}',
		'urlReception' : '{{path('message_ajax_messages_destinataire')}}',
		'urlBrouillons' : '{{path('message_ajax_messages_brouillons')}}',
		'urlCorbeille' : '{{path('message_ajax_messages_corbeille')}}',
		'urlEnvoyes' : '{{path('message_ajax_messages_envoyes')}}',
	};
	Messagerie.Launch(params);
	Messagerie.Event();
	Messagerie.LoadElement('reception');
});

</script>
{% endblock %}