{% extends 'base.html.twig' %}

{% block title %} Nouveau témoigange {% endblock %}

{% block body %}

<h1>Ajout d'un nouveau témoignage</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
    {{ form_row(form.titre) }}
	{{ form_row(form.corps) }}
	
	{% if type != 'produit' and type != 'evenement' %}
    	<div class="form-group">
    		<label for="">Elément associé</label>
    		<select id="temoignage_type" class="form-control">
    			<option value="0">Evénement</option>
    			<option value="1">Produit</option>
    		</select>
    	</div>
    {% endif %}
    
    <div id="temoignage_row_evenement">
    	{{ form_row(form.evenement) }}
    	{{ form_row(form.famille) }}
    </div>
	
	<div id="temoignage_row_produit">
    	{{ form_row(form.produit) }}
    </div>
	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">	

		{% if type != 'evenement' and type != 'produit' %}
    		$('#temoignage_row_produit').hide();
    		
            $('#temoignage_type').change(function(){
                if($(this).val() == 1){
                	$('#temoignage_row_produit').show();
                	
                	$('#temoignage_row_evenement').hide();
                	$('#temoignage_row_evenement #temoignage_evenement').val(0);
                	$('#temoignage_row_evenement #temoignage_famille').val(0);
                } else {
    				$('#temoignage_row_evenement').show();
    				
    				$('#temoignage_row_produit').hide();
    				$('#temoignage_row_produit #temoignage_produit').val(0);
                }
            });
        {% elseif type == 'evenement' %}
        	$('#temoignage_row_produit').hide();
	    {% elseif type == 'produit' %}
	    	$('#temoignage_row_evenement').hide();
	    {% endif %}
	</script>
{% endblock %}