<div id="ajax_temoignage_add">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Ajout d'un témoignage 
			{% if type == 'membre' %}
				au membre {{ objet.prenom }} {{ objet.nom }}
			{% elseif type == 'evenement' %}
				à l'événement {{ objet.nom }}
			{% elseif type == 'produit' %}
				au produit {{ objet.titre }}
			{% endif %}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
        {{ form_start(form) }}
    
    	{% if type == 'membre' %}
    		<div class="form-group">
        		<label for="">Elément associé</label>
        		<select id="temoignage_type" class="form-control">
        			<option value="0">Evénement</option>
        			<option value="1">Produit</option>
        		</select>
        	</div>
        	<div id="temoignage_row_evenement">
        		{{ form_row(form.evenement) }}
        	</div>
        	<div id="temoignage_row_produit">
        		{{ form_row(form.produit) }}
        	</div>
    	{% elseif type == 'evenement' %}
    		{{ form_row(form.evenement) }}
    	{% elseif type == 'produit' %}
    	    {{ form_row(form.produit) }}
    	{% endif %}
    	
    	
    	
        {{ form_row(form.titre) }}
    	{{ form_row(form.corps) }}
    	{{ form_row(form.prenom_temoin) }}
    	{{ form_row(form.age) }}
    	{{ form_row(form.lien_parente) }}
    	{{ form_row(form.ville) }}
    	
	</div>

	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}

	{% block javascripts %}
	<script type="text/javascript">
    
    	$('#modal_{{ type }}_global').modal({
    		   'show' : true,
    		   'backdrop' : 'static'
    	});
    	
    	{% if type == 'membre' %}
    		$('#temoignage_row_produit').hide();
    		
            $('#temoignage_type').change(function(){
                if($(this).val() == 1){
                	$('#temoignage_row_produit').show();
                	$('#temoignage_row_evenement').hide();
                } else {
    				$('#temoignage_row_evenement').show();
    				$('#temoignage_row_produit').hide();
                }
            });
    	{% endif %}
		var url = '{{path('temoignage_ajax_add', {'id': objet.id, 'type': type }) }}';
		Temoignage.EventAddSubmit(url);
	</script>
	{% endblock %}
</div>