<div id="ajax_{{ type }}_temoignage_see">
    <div class="card">
        <div class="card-header">
        	Témoignages
        	{% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE")) and type != 'membre' %}
        		<a href="{{ path('temoignage_ajax_add', {'id' : objet.id, 'type': type}) }}" id="btn-add-temoignage" class="float-right"><span class="oi oi-comment-square"></span> Nouveau témoignage</a>
        	{% endif %}
        </div>
        
        <div class="card-body">
          	<table class="table table-sm table-striped">
           		<tr>
               		<th> Titre </th>
               		<th> Contenu </th>
               		<th> Prénom du témoin </th>
               		<th> Age </th>
               		<th> Lien de parenté</th>
               		<th> Ville </th>
               		<th> Date de création </th>
               		{% if type == 'membre' %}
                   		<th> Evénement </th>
                   		<th> produit </th>
               		{% endif %}
               		<th></th>
               	</tr>
               	
                {% for temoignage in temoignages %}
               		<tr>
               			<td>{{ temoignage.titre }}</td>
               			<td>{{ temoignage.corps }}</td>
               			<td>{{ temoignage.prenomTemoin }}</td>
               			<td>{{ temoignage.age }}</td>
                		<td>{{ temoignage.lienParente | lienParente }}</td>
                		<td>{{ temoignage.ville }}</td>
                		<td>{{ temoignage.dateCreation | date('d/m/Y H:i') }}</td>
                		{% if type == 'membre' %}
                    		<td>{% if temoignage.evenement != null %} {{ temoignage.evenement.nom }} {% endif %}</td>
                    		<td>{% if temoignage.produit != null %} {{ temoignage.produit.titre }} {% endif %}</td>
                    	{% endif %}
                    	{% if is_granted("ROLE_BENEVOLE") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE") %}
                    		<td>
                    			{{ actionEdit(path('temoignage_ajax_edit', {'id' : temoignage.id, 'type' : type}), 'btn-edit-temoignage-'~ temoignage.id ) | raw }}
                		        {% if is_granted("ROLE_ADMIN") %}
                    		        {{ actionDelete(temoignage.disabled, path('temoignage_delete', {'id' : temoignage.id}), temoignage.id) | raw }}
                    		    {% endif %}
                    		</td>
                    	{% endif %}
                	</tr>
                
                {% endfor %}
        	</table>
        	
        	{% if temoignages is empty %}
            	<p class="text-info text-center">
            		Il  n'y a aucun témoignage 
            		{% if type == 'membre' %}
            			rédigé par ce membre.
            		{% elseif type == 'produit' %}
            			associé à ce produit.
            		{% elseif type == 'evenement' %}
            			associé à cet événement.
            		{% endif %}
            	</p>
            {% endif %}
        	
        </div>
    </div>
    
    <hr>
    
    {% block javascripts %}
        <script type="text/javascript">

            var id_btn_add = '#btn-add-temoignage';
        	Temoignage.EventAdd(id_btn_add);
			
    		//on associe une action pour chaque bouton edit ou delete
            {% for temoignage in temoignages %}
                var id_btn_edit_{{ temoignage.id }} = '#btn-edit-temoignage-' + {{ temoignage.id }};
            	Temoignage.EventEdit(id_btn_edit_{{ temoignage.id }});
            	
            	var id_delete = '#delete-' + {{ temoignage.id }};
				Temoignage.EventDelete(id_delete);
				
            {% endfor %}
        </script>
    {% endblock %}
    
</div>