<div id="ajax_temoignage_edit">
	{{ form_start(form) }}
	<div class="modal-header">
		<h5 class="modal-title">
			Modification du témoignage #{{ temoignage.id }} - {{ temoignage.titre }}
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
    	{% if type == 'evenement' %}
    		{{ form_row(form.evenement) }}
    		{{ form_row(form.famille) }}
    	{% elseif type == 'produit' %}
    	    {{ form_row(form.produit) }}
    	{% else %}
    	    <div id="temoignage_row_evenement">
        		{{ form_row(form.evenement) }}
        	</div>
        	<div id="temoignage_row_famille">
        		{{ form_row(form.famille) }}
        	</div>
    	    <div id="temoignage_row_produit">
        		{{ form_row(form.produit) }}
        	</div>
    	{% endif %}
		
        {{ form_row(form.titre) }}
    	{{ form_row(form.corps) }}
    </div>

	<div class="modal-footer">
		{{ form_widget(form.save) }}
	</div>
	{{ form_rest(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}
</div>

	{% block javascripts %}
		<script type="text/javascript">

			$('#modal_{{ type }}_global').modal({
        		   'show' : true,
        		   'backdrop' : 'static'
        	});

			if($('#temoignage_evenement').val()){
	        	$('#temoignage_row_produit').hide();
	        } else {
				$('#temoignage_row_evenement').hide();
				$('#temoignage_row_famille').hide();
	        }

    		var url = '{{path('temoignage_ajax_edit', {'id': temoignage.id, 'type': type, 'page': page  }) }}';
    		Temoignage.EventEditSubmit(url);
	
	    </script>
	{% endblock %}