<div id="ajax_temoignage_see">
    <div class="card">
        <div class="card-header">
        	<b>Témoignage</b>
        	{% if is_granted("ROLE_ADMIN") %} 
        	     rédigé par {{ temoignage.membre.prenom }} {{ temoignage.membre.nom }}
        	{% endif %}
        	<br><b>Actif :</b> {{ temoignage.disabled | actif }}
        	<div class="float-right">
        		{{ editObjet(path('temoignage_ajax_edit', {'id': temoignage.id, 'type':'temoignage' }), "Editer le témoignage", "btn-edit-temoignage") | raw }}
        		{% if is_granted("ROLE_ADMIN") %}
        		    {{ deleteObjet(temoignage.disabled, path('temoignage_delete', {'id': temoignage.id, 'page' : 1 }), 'btn-disabled-temoignage') | raw }}
        		{% endif %}
        	</div>
        </div>
        
        <div class="card-body">
        	<blockquote class="blockquote">
        		<p class="mb-0">{{ temoignage.corps }}</p>
                <footer class="blockquote-footer">
                   	{% if temoignage.famille != null %}
                   		{{ temoignage.famille.prenom }}, 
                   		{{ temoignage.famille.lienFamille | lienParente }} de {{ temoignage.famille.patient.prenom }}, 
                   		{{ temoignage.famille.patient.dateNaissance | age }} ans, 
                   		{{ temoignage.famille.familleAdresse.ville }}
                   	{% endif %}
                   	à propos 
        			{% if temoignage.evenement != null %}
        				de l'événement 
                    	<cite title="Evénement"> {{ temoignage.evenement.nom }} </cite>
            	    {% elseif temoignage.produit != null %}
            	    	du produit
                		<cite title="Produit"> {{ temoignage.produit.titre }} </cite>
            	    {% endif %}
                </footer>
        	</blockquote>
     	</div>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
        
            var id_btn_edit = '#btn-edit-temoignage';
            Temoignage.EventEdit(id_btn_edit);

            var id_btn_delete_temoignage = '#btn-disabled-temoignage';
            Temoignage.EventDelete(id_btn_delete_temoignage);
        </script>
    {% endblock %}
    
</div>