<div id="ajax_temoignage_see">
    <div class="card">
        <div class="card-header">
        	<b>Témoignage</b>
        	{% if is_granted("ROLE_ADMIN") %} 
        	     rédigé par {{ temoignage.membre.prenom }} {{ temoignage.membre.nom }}
        	{% endif %}
        	<br><b>Actif :</b> {{ temoignage.disabled | actif }}
        	<a href="{{ path('temoignage_ajax_edit', {'id' : temoignage.id, 'type': 'temoignage'}) }}" id="btn-edit-temoignage" class="btn btn-dark float-right"><span class="oi oi-pencil"></span> Editer le témoignage</a>
        </div>
        
        <div class="card-body">
        	<blockquote class="blockquote">
        		<p class="mb-0">{{ temoignage.corps }}</p>
                <footer class="blockquote-footer">
                    {{ temoignage.prenomTemoin }}, {{ temoignage.age }} ans, {{ temoignage.lienParente |lienParente }}, à {{ temoignage.ville }}, à propos 
        			{% if temoignage.evenement != null %}
        				de l'événement 
                    	<cite title="Evénement"> {{ temoignage.evenement.nom }} </cite>
            	    {% elseif temoignage.produit != null %}
            	    	du produit
                		<cite title="Produit"> {{ temoignage.produit.titre }} </cite>
            	    {% endif %}
                </footer>
        	</blockquote>
     	</div>
    </div>
    
    {% block javascripts %}
        <script type="text/javascript">
        
            var id_btn_edit = '#btn-edit-temoignage';
            Temoignage.EventEdit(id_btn_edit);
        </script>
    {% endblock %}
    
</div>