{% extends 'base.html.twig' %}

{% block title %} Edition d'un témoigange {% endblock %}

{% block body %}

<h1>Modification du témoignage # {{ temoignage.id }} - {{ temoignage.titre }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
    {{ form_row(form.titre) }}
	{{ form_row(form.corps) }}
	{{ form_row(form.prenom_temoin) }}
	{{ form_row(form.age) }}
	{{ form_row(form.lien_parente) }}
	{{ form_row(form.ville) }}
	
	<div id="temoignage_row_evenement">
		{{ form_row(form.evenement) }}
	</div>
	<div id="temoignage_row_produit">
		{{ form_row(form.produit) }}
	</div>
	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">	
		
        if($('#temoignage_evenement').val()){
        	$('#temoignage_row_produit').hide();
           	$('#temoignage_evenement').attr('disabled', true);
        } else {
			$('#temoignage_row_evenement').hide();
			$('#temoignage_produit').attr('disabled', true);
        }
	</script>
{% endblock %}