{% extends 'base.html.twig' %}

{% block title %} Edition d'un témoigange {% endblock %}

{% block body %}

<h1>Modification du témoignage # {{ temoignage.id }} - {{ temoignage.titre }}</h1>

{% include 'elements/arborescence.html.twig' %}

<div>
    {{ form_start(form) }}
    
    <div id="temoignage_row_evenement">
		{{ form_row(form.evenement) }}
	</div>
	
	<div id="temoignage_row_famille">
    	{{ form_row(form.famille) }}
    </div>
	
	<div id="temoignage_row_produit">
		{{ form_row(form.produit) }}
	</div>
    
    {{ form_row(form.titre) }}
	{{ form_row(form.corps) }}
	
	<!-- <div class="row">
		<div class="col-md-4">
            {#{ form_row(form.image_1) }#}
		</div>
		<div class="col-md-4">
            {#{ form_row(form.image_2) }#}
		</div>
		<div class="col-md-4">
            {#{ form_row(form.image_3) }#}
		</div>
	</div> -->
	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">	
		
        if($('#temoignage_evenement').val()){
        	$('#temoignage_row_produit').hide();
           	$('#temoignage_evenement').attr('disabled', true);
           	$('#temoignage_famille').attr('disabled', true);
        } else {
			$('#temoignage_row_evenement').hide();
			$('#temoignage_row_famille').hide();
			$('#temoignage_produit').attr('disabled', true);
        }
	</script>
{% endblock %}