{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
<h1>Gestion des témoignages {% if type == 'produit' %} des produits {% elseif type == 'evenement' %} des événements {% endif %}</h1>

{% include 'elements/arborescence.html.twig' %}

<div class="card">
	<div class="card-header">
    	{{ pagination.nb_elements }} témoignage{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
    	{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE") %}
  			<a href="{{ path('temoignage_add', {'page' : pagination.page, 'type': type}) }}" class="float-right"><span class="oi oi-comment-square"></span> Nouveau témoignage</a>
  		{% endif %}
    	{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
  	</div>
  	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'id', 'type':type } ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'titre', 'type':type } ), 'Titre', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'corps', 'type':type } ), 'Contenu', current_order, current_field) | raw }}</th>
        		{% if type != 'produit' %}
        			<th>Témoin</th>
        			<th>Lien avec le patient</th>
        			<th>Patient</th>
        			<th>Ville</th>
        			<th>Evénement</th>
        		{% endif %}
        		{% if type != 'evenement' %}
        			<th>Produit</th>
        		{% endif %}
        		<th>Membre</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-titre', current_search, 'Titre') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-corps', current_search, 'Contenu') | raw }}</td>
        		{% if type != 'produit' %}
        			<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-famille-nom', current_search, 'Nom du témoin') | raw }}</td>
            		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-famille-lien_famille', current_search, '', constant('App\\Controller\\AppController::FAMILLE_PARENTE')) | raw }}</td>
            		<td></td>
            		<td></td>
            		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-evenement-nom', current_search, 'Evénement') | raw }}</td>
                {% endif %}
        		{% if type != 'evenement' %}
        			<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-produit-titre', current_search, 'Produit') | raw }}</td>
        		{% endif %}
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order, 'type':type }), 'Temoignage-membre-nom', current_search, 'Nom du membre') | raw }}</td>
        		<td></td>
        	</tr>
        	
  		{% for temoignage in temoignages %}
        		<tr>
        			<td>{{ temoignage.id }}</td>
        			<td>{{ temoignage.titre }}</td>
        			<td width="40%">{{ temoignage.corps }}</td>
        			{% if type != 'produit' %}
        				{% if temoignage.famille != null %}
            				<td>{{ temoignage.famille.prenom }} {{ temoignage.famille.nom }}</td>
            				<td>{{ temoignage.famille.lienFamille | lienParente }}</td>
            				<td>{{ temoignage.famille.patient.prenom }} {{ temoignage.famille.patient.nom }}</td>
            				<td>{{ temoignage.famille.familleAdresse.ville }}</td>
        				{% else %}
            				<td></td>
            				<td></td>
            				<td></td>
            				<td></td>
        				{% endif %}
        				<td>
        				    {% if temoignage.evenement != null %}
        				    	<a href="{{ path('evenement_see', {'id': temoignage.evenement.id, 'page' : pagination.page}) }}"> 
        				        {{ temoignage.evenement.nom }}
        				        </a> 
        				    {% endif %}
        				</td>
                    {% endif %}
        		    {% if type != 'evenement' %}
                		<td>
        				    {% if temoignage.produit != null %}
        				    	<a href="{{ path('produit_see', {'id': temoignage.produit.id, 'page' : pagination.page}) }}"> 
        				        {{ temoignage.produit.titre }}
        				        </a> 
        				    {% endif %}
        				</td>
                	{% endif %}
        			<td>
        				{% if is_granted("ROLE_ADMIN") %}
        					<a href="{{ path('membre_see', {'id': temoignage.membre.id, 'page' : pagination.page}) }}"> 
        				{% endif %}
        			    {{ temoignage.membre.prenom }} {{ temoignage.membre.nom }}
        			    {% if is_granted("ROLE_ADMIN") %}
        			    	</a>
        			    {% endif %}
        			</td>
        			<td>
        			    {{ actionSee(path('temoignage_see', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
        				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE") %}
        					{{ actionEdit(path('temoignage_edit', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
            				{{ actionDelete(temoignage.disabled, path('temoignage_delete', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
            			{% endif %}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if temoignages is empty %}
        	<p class="text-info text-center">Il  n'y a aucun témoignage correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
	  
{% endblock %}