{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
<h1>Gestion des témoignages</h1>

{% include 'elements/arborescence.html.twig' %}

<div class="card">
	<div class="card-header">
    	{{ pagination.nb_elements }} témoignage{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
    	{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE") %}
  			<a href="{{ path('temoignage_add', {'page' : pagination.page, 'type': type}) }}" class="float-right"><span class="oi oi-comment-square"></span> Nouveau témoignage</a>
  		{% endif %}
    	{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
  	</div>
  	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'titre'} ), 'Titre', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'corps'} ), 'Contenu', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'prenom_temoin'} ), 'Prénom du témoin', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'lien_parente'} ), 'Lien de parenté', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'age'} ), 'Age', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'ville'} ), 'Ville', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : 'date_creation'} ), 'Date de création', current_order, current_field) | raw }}</th>
        		{% if type != 'produit' %}
        			<th>Evénement</th>
        		{% endif %}
        		{% if type != 'evenement' %}
        			<th>Produit</th>
        		{% endif %}
        		<th>Membre</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-titre', current_search, 'Titre') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-corps', current_search, 'Contenu') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-prenom_temoin', current_search, 'Prénom du témoin') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-lien_parente', current_search, '', constant('App\\Controller\\AppController::FAMILLE_PARENTE')) | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-age', current_search, 'Age') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-ville', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-date_creation', current_search, 'Titre') | raw }}</td>
        		<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-evenement-nom', current_search, 'Evénement') | raw }}</td>
        		{% if type != 'produit' %}
        			<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-produit-titre', current_search, 'Produit') | raw }}</td>
                {% endif %}
        		{% if type != 'evenement' %}
        			<td>{{ inputFilter(path('temoignage_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Temoignage-membre-nom', current_search, 'Nom du membre') | raw }}</td>
        		{% endif %}
        		<td></td>
        	</tr>
        	
  		{% for temoignage in temoignages %}
        		<tr>
        			<td>{{ temoignage.id }}</td>
        			<td>{{ temoignage.titre }}</td>
        			<td>{{ temoignage.corps }}</td>
        			<td>{{ temoignage.prenomTemoin }}</td>
        			<td>{{ temoignage.lienParente | lienParente }}</td>
        			<td>{{ temoignage.age }} ans</td>
        			<td>{{ temoignage.ville }}</td>
        			<td>{{ temoignage.dateCreation |date("d/m/Y H:i") }}</td>
        			{% if type != 'produit' %}
        				<td>{% if temoignage.evenement != null %} {{ temoignage.evenement.nom }} {% endif %}</td>
                    {% endif %}
        		    {% if type != 'evenement' %}
                		<td>{% if temoignage.produit != null %} {{ temoignage.produit.titre }} {% endif %}</td>
                	{% endif %}
        			<td>{{ temoignage.membre.prenom }} {{ temoignage.membre.nom }}</td>
        			<td>
        			    {{ actionSee(path('temoignage_see', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
        				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BENEFICIAIRE_DIRECT") or is_granted("ROLE_BENEFICIAIRE") %}
        					{{ actionEdit(path('temoignage_edit', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
            				{{ actionDelete(temoignage.disabled, path('temoignage_delete', {'id' : temoignage.id, 'page' : pagination.page, 'type': type})) | raw }}
            			{% endif %}
        			</td>
        		</tr>
        	{% endfor %}
        </table>
                
    	{% if temoignages is empty %}
        	<p class="text-info text-center">Il  n'y a aucun témoignage correspondant à votre recherche.</p>
        {% endif %}
        
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
	  
{% endblock %}