{% extends 'base.html.twig' %}

{% block title %} Fiche d'un témoignage {% endblock %}

{% block body %}

    <h1>Fiche du membre #{{ temoignage.id }} - {{ temoignage.titre }}</h1>
    
    {% include 'elements/arborescence.html.twig' %}
    
    <table  class="table table-sm table-striped">
    	<tr>
    		<th scope="col"> titre </th>
    		<td> {{ temoignage.titre }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Contenu </th>
    		<td> {{ temoignage.corps }} </td>
    	</tr>
    	<tr>
    		<th scope="col"> Témoin </th>
    		<td> 
    		    {{ temoignage.prenomTemoin }}, {{ temoignage.age }} ans, {{ temoignage.lienParente |lienParente }}, {{ temoignage.ville }} <br />
    		</td>
    	</tr>
    	{% if temoignage.evenement != null %}
        	<tr>
        		<th scope="col"> Evénement </th>
        		<td> {{ temoignage.evenement.nom }} </td>
        	</tr>
    	{% endif %}
    	{% if temoignage.produit != null %}
        	<tr>
        		<th scope="col"> Produit </th>
        		<td> {{ temoignage.produit.titre }} </td>
        	</tr>
    	{% endif %}
    	{% if is_granted("ROLE_ADMIN") %}
        	<tr>
        		<th scope="col"> Membre </th>
        		<td> {{ temoignage.membre.prenom }} {{ temoignage.membre.nom }}</td>
        	</tr>
    	{% endif %}
    </table>
    <br />
    
    <blockquote class="blockquote">
		<p class="mb-0">{{ temoignage.corps }}</p>
        <footer class="blockquote-footer">{{ temoignage.prenomTemoin }}, {{ temoignage.age }} ans, {{ temoignage.lienParente |lienParente }}, à {{ temoignage.ville }}, à propos 
			{% if temoignage.evenement != null %}
				de l'événement 
            	<cite title="Source Title"> {{ temoignage.evenement.nom }} </cite>
    	    {% elseif temoignage.produit != null %}
    	    	du produit
        		<cite title="Source Title"> {{ temoignage.produit.titre }} </cite>
    	    {% endif %}
			
        </footer>
	</blockquote>
    
    
{% endblock %}