{% extends 'base.html.twig' %}

{% block title %}
Nouveau questionnaire
{% endblock %}

{% block body %}

<h1>Ajout d'un nouveau questionnaire</h1>

{% include 'elements/arborescence.html.twig' %}

{{ form_start(form) }}

{{ form_row(form.slug) }}
<div class="row">
	<div class="col-sm">
		{{ form_row(form.titre, {"id":"questionnaire_titre"}) }}
	</div>
	<div class="col-sm">
		<div id="slug_text"></div>
	</div>
</div>


{{ form_row(form.description) }}
{{ form_row(form.date_creation) }}
{{ form_row(form.date_fin) }}
{{ form_row(form.jour_relance) }}

{{ form_rest(form) }}
{{ form_errors(form) }}
{{ form_end(form) }}

{% block stylesheets %}
	<style>
    	#slug_text {
            margin-top: 40px;
        }
    </style>
{% endblock %}

{% block script %}
<script
	src="{{ asset('assets/js/questionnaire/Questionnaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	
    
    $(document).ready(function() {

		var params = {
				url_ajax_see : '{{path('questionnaire_add') }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_questionnaire_global',
				id_global : '#bloc_questionnaire'
		};
        
		Questionnaire.Launch(params);		
		Questionnaire.EventOnTitle('#questionnaire_titre', '#questionnaire_slug', '#slug_text');
    });
		
    </script>
{% endblock %}

{% endblock %}