<div id="ajax_questionnaire_see">

    	<div class="card shadow-sm">
         	<div class="card-header bg-light">
            	 <b>Titre du questionnaire :</b> {{ questionnaire.titre }}
            	<div class="float-right">
            		<a href="{{path('question_ajax_add', {'id': questionnaire.id }) }}" id="btn-add-question" class="btn btn-success btn-add-question"> <span class="oi oi-plus"></span> Nouvelle question</a>  
            		<a href="{{path('questionnaire_ajax_edit', {'id': questionnaire.id }) }}" id="btn-edit-questionnaire" class="btn btn-dark"><span class="oi oi-pencil"></span> Editer le questionnaire</a>
            		<a href="{{path('questionnaire_demo', {'slug': questionnaire.slug }) }}" id="btn-demo-questionnaire" class="btn btn-info"><span class="oi oi-monitor"></span> Tester le questionnaire</a>
            	</div>
            </div>
          	<div class="card-body">
            	<b>Date de création :</b> {{ questionnaire.dateCreation | date('d/m/Y') }} - Date de fin : {{ questionnaire.dateFin | date('d/m/Y') }}</br>
            	<b>Description :</b> {{ questionnaire.description }}</br>
            	<b>Nombre de jours avant relance :</b> {{ questionnaire.jourRelance }}</br>
            	<b>Actif :</b> 
            	{% if questionnaire.disabled == 0 %} Oui 
            	{% else %} Non
            	{% endif %}
            	</br>
          	</div>
        </div>
	<hr>
     		
	{{ questionnaire(questionnaire, {
	'submit_url' : path('questionnaire_demo', {'slug': questionnaire.slug }),
	'statut' : 'edit',
	'edit_url' : path('question_ajax_edit', {'id': 0 })
    }) | raw }}

	{#
	<div class="float-right">
		<a href="{{path('question_ajax_edit', {'id': question.id }) }}" id="btn-edit-question" class="btn btn-primary btn-edit-question"><span class="oi oi-pencil"></span> Edition</a>
	</div>
	#}

	{% block javascripts %}
    <script type="text/javascript">

    var id_btn_questionnaire = '#btn-edit-questionnaire';
    Questionnaire.EventEdit(id_btn_questionnaire);

    var id_btn_question = '#ajax_questionnaire_see .btn-edit-question';
    Question.EventEdit(id_btn_question)
    
    var id_btn_question_add = '#ajax_questionnaire_see .btn-add-question';
    Question.EventEdit(id_btn_question_add)
    
    </script>
{% endblock %}

	
</div>