<div id="ajax_questionnaire_see">

    	<div class="card shadow-sm">
         	<div class="card-header bg-light">
            	 <b>Titre du questionnaire :</b> {{ questionnaire.titre }}
            	<div class="float-right">
            		  {% if is_granted("ROLE_ADMIN") %}
            		  {{ addQuestion(questionnaire, path('question_ajax_add', {'id': questionnaire.id })) | raw }}
            		  {{ edit(questionnaire, path('questionnaire_ajax_edit', {'id': questionnaire.id })) | raw }}
            		  {{ test(questionnaire, path('questionnaire_demo', {'slug': questionnaire.slug })) | raw }}
            		                                    		  
            		  {# ROUTES A MODIFIER QUAND ELLES SERONT CREEES #}
            		  {{ publish(questionnaire, path('questionnaire_ajax_publication', {'id': questionnaire.id })) | raw }}
            		  {{ duplicate(questionnaire, path('questionnaire_ajax_edit', {'id': questionnaire.id })) | raw }}
            		  {% endif %}
            	</div>
            </div>
          	<div class="card-body">
            	<b>Date de création :</b> {{ questionnaire.dateCreation | date('d/m/Y') }} - 
                {% if "now"|date('Y-m-d') > questionnaire.dateFin|date('Y-m-d') %}
            		<span class="text-danger"><b>Date de fin : {{ questionnaire.dateFin | date('d/m/Y') }}</b></span></br>
                {% else %}
                	Date de fin : {{ questionnaire.dateFin | date('d/m/Y') }}<br/>
                {% endif %}
            	<b>Publication :</b> {{ questionnaire.publication }}</br>
            	<b>Description :</b> {{ questionnaire.description }}</br>
            	<b>Nombre de jours avant relance :</b> {{ questionnaire.jourRelance }}</br>
            	<b>Actif :</b> 
            	{% if questionnaire.disabled == 0 %} 
            		Oui 
            	{% else %} 
            		Non
            	{% endif %}
            	</br>
            	{% if questionnaire.publication %}
            		URL de publication : <a href="{{ path('questionnaire_prod', {'slug' : questionnaire.slug}) }}">http://{{ app.request.server.get("SERVER_NAME") }}{{ path('questionnaire_prod', {'slug' : questionnaire.slug}) }}</a>
           		{% endif %}
          	</div>
        </div>
	<hr>
     		
	{{ questionnaire(questionnaire, {
	'statut' : 'edit',
	'edit_url' : path('question_ajax_edit', {'id': 0 }),
	'current_user' : app.user
    }) | raw }}

	{% block javascripts %}
    <script type="text/javascript">

    var id_btn_questionnaire_publication = '#ajax_questionnaire_see #btn-publish-questionnaire';
    Questionnaire.EventPublication(id_btn_questionnaire_publication);
    
    var id_btn_questionnaire = '#btn-edit-questionnaire';
    Questionnaire.EventEdit(id_btn_questionnaire);

    var id_btn_question = '#ajax_questionnaire_see .btn-edit-question';
    Question.EventEdit(id_btn_question)
    
    var id_btn_question_add = '#ajax_questionnaire_see .btn-add-question';
    Question.EventEdit(id_btn_question_add)
    
   	 $('[data-toggle="tooltip"]').tooltip();
    
    </script>
{% endblock %}

	
</div>