<div id="ajax_questionnaire_see">

    	<div class="card shadow-lg">
         	<div class="card-header bg-info">
            	 <b>Titre du questionnaire :</b> {{ questionnaire.titre }}
            	<div class="float-right"><a href="{{path('questionnaire_ajax_edit', {'id': questionnaire.id }) }}" id="btn-edit-questionnaire" class="btn btn-primary float-right">Editer le questionnaire</a><br/></div>
            </div>
          	<div class="card-body">
            	<b>Date de création :</b> {{ questionnaire.dateCreation | date('d/m/Y') }} - Date de fin : {{ questionnaire.dateFin | date('d/m/Y') }}</br>
            	<b>Description :</b> {{ questionnaire.description }}</br>
            	<b>Nombre de jours avant relance :</b> {{ questionnaire.jourRelance }}</br>
            	<b>Actif :</b> 
            	{% if questionnaire.disabled == 0 %} Oui 
            	{% else %} Non
            	{% endif %}
            	</br>
          	</div>
        </div>
	<hr>

	
	{% for question in questionnaire.questions %}
        <div class="card">
        	<div class="card-header">
        		<b>Question ID :</b> #{{ question.id }}</br>
        		{{ question.libelleTop }}
        		<a href="{{path('question_ajax_edit', {'id': question.id }) }}" id="btn-edit-question" class="btn btn-primary float-right btn-edit-question">Editer la question</a>
        		<a href="{{path('question_ajax_add', {'id': question.id }) }}" id="btn-add-question" class="btn btn-success float-right btn-edit-question">Ajouter une question</a>
        	</div>
        
        	<div class="card-body">
        		
        		<table class="table table-sm table-striped">
        			<tr>
        				<th>Libelle :  {{ question.libelle }}</th>
        			</tr>
        			<tr>
        				<th>Type : {{ question.type }}</th>
        			</tr>
        			<tr>
        				<th>valeurDefaut : {{ question.valeurDefaut }}</th>
        			</tr>
        			<tr>
        				<th>obligatoire : {{ question.obligatoire }}</th>
        			</tr>
        			<tr>
        				<th>regles : {{ question.regles }}</th>
        			</tr>
        			<tr>
        				<th>messageErreur : {{ question.messageErreur }}</th>
        			</tr>
        			<tr>
        				<th>ORDRE : {{ question.ordre }}</th>
        			</tr>
        		</table>
        	</div>
        	
        	<div class="card-footer">
        		{{ question.libelleBottom }}<br/>

        	</div>
        </div>
		<hr>
    {% endfor %}

	{% block javascripts %}
    <script type="text/javascript">

    var id_btn_questionnaire = '#btn-edit-questionnaire';
    Questionnaire.EventEdit(id_btn_questionnaire);

    var id_btn_question = '#ajax_questionnaire_see .btn-edit-question';
    Question.EventEdit(id_btn_question)
    
    var id_btn_question_add = '#ajax_questionnaire_see .btn-add-question';
    Question.EventEdit(id_btn_question_add)
    
    </script>
{% endblock %}

	
</div>