<div id="ajax_questionnaire_see">

    	<div class="card shadow-sm" id="card-info-questionnaire">
         	<div class="card-header bg-light">
         		  {% if questionnaire.disabled == 0 %} 
                    		<span class="text-success"><span class="oi oi-media-record"></span></span>
                  {% else %} 
                    		<span class="text-danger"><span class="oi oi-media-record"></span></span>
                   {% endif %}
            	  <b> Titre du questionnaire :</b> {{ questionnaire.titre }}
            	<div class="float-right">
            		  {% if is_granted("ROLE_ADMIN") %}
            		  {{ addQuestion(questionnaire, path('question_ajax_add', {'id': questionnaire.id })) | raw }}
            		  {{ edit(questionnaire, path('questionnaire_ajax_edit', {'id': questionnaire.id })) | raw }}
            		  {{ disabled(questionnaire, path('questionnaire_delete', {'id': questionnaire.id, 'page' : 1 })) | raw }}
            		  {{ test(questionnaire, path('questionnaire_demo', {'slug': questionnaire.slug })) | raw }}
            		  
            		                                    		  
            		  {# ROUTES A MODIFIER QUAND ELLES SERONT CREEES #}
            		  {{ publish(questionnaire, path('questionnaire_ajax_publication', {'id': questionnaire.id })) | raw }}
            		  {{ duplicate(questionnaire, path('questionnaire_ajax_edit', {'id': questionnaire.id })) | raw }}
            		  {% endif %}
            	</div>
            </div>
          	<div class="card-body">
          		<div class="row">
          			<div class="col-6">
          				
          				<b>Informations</b>
          				<hr />
                    	<b>Date de création :</b> {{ questionnaire.dateCreation | date('d/m/Y') }} <br />
                        {% if "now"|date('Y-m-d') > questionnaire.dateFin|date('Y-m-d') %}
                    		<span class="text-danger"><b>Date de fin</b> : {{ questionnaire.dateFin | date('d/m/Y') }}</span></br>
                        {% else %}
                        	<b>Date limite pour répondre :</b> {{ questionnaire.dateFin | date('d/m/Y') }}<br/>
                        {% endif %}
                        <b>Nombre de jours avant relance :</b> {{ questionnaire.jourRelance }}</br>
                        {% if questionnaire.publication %}
                    		<b>URL de publication :</b> <a href="{{ path('questionnaire_prod', {'slug' : questionnaire.slug}) }}" target="_blank">http://{{ app.request.server.get("SERVER_NAME") }}{{ path('questionnaire_prod', {'slug' : questionnaire.slug}) }}</a><br />
                   		{% endif %}
                    	<b>Description :</b> <br /><i>{{ questionnaire.description }}</i></br>
                    	<b>Texte après validation du questionnaire :</b><br /> <i>{{ questionnaire.descriptionAfterSubmit }}</i></br>
               		
               		</div>
               		<div class="col-6">
               			<b>Statistiques</b>
               			<hr />
               			{% if statistiques.nb_participants == 0 %}
               				<i>Il faut qu'au moins 1 participant ait répondu au questionnaire pour avoir accès aux statistiques</i>
               			{% else %}
               				<b>Nombre de participants :</b> {{ statistiques.nb_participants }} <br />
               				<a href="{{ path('questionnaire_stats', {'id' : questionnaire.id, 'page' : page}) }}"> Voir les statistiques générales</a>
               			{% endif %}
               			<br /><br />
               			<b>Export des données</b>
               			<hr />
               			<div class="btn-group btn-group-toggle" data-toggle="buttons" id="btn-choix-export">
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="csv" autocomplete="off"> Format CSV
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="xml" autocomplete="off"> Format XML
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="xml-nodata" autocomplete="off"> Format XML sans données
                          </label>
                        </div>
               			
               		</div>
           		</div>
          	</div>
        </div>
     		
	{{ questionnaire(questionnaire, {
	'statut' : 'edit',
	'edit_url' : path('question_ajax_edit', {'id': 0 }),
	'current_user' : app.user
    }) | raw }}

	{% block javascripts %}
    <script type="text/javascript">

    var id_btn_questionnaire_publication = '#ajax_questionnaire_see #btn-publish-questionnaire';
    Questionnaire.EventPublication(id_btn_questionnaire_publication);
    
    var id_btn_questionnaire = '#btn-edit-questionnaire';
    Questionnaire.EventEdit(id_btn_questionnaire);

    var id_btn_question = '#ajax_questionnaire_see .btn-edit-question';
    Question.EventEdit(id_btn_question)
    
    var id_btn_question_add = '#ajax_questionnaire_see .btn-add-question';
    Question.EventEdit(id_btn_question_add)
    
    var id_btn_disabled = '#ajax_questionnaire_see #btn-disabled-questionnaire';
    Questionnaire.EventDisabled(id_btn_disabled)
    
   	 $('[data-toggle="tooltip"]').tooltip();

 	 $('#btn-choix-export input[type=radio]').change(function() {

 		 var id = $(this).attr('id');
 		 console.log(id);
   	 	
 	 	window.location = '{{path('questionnaire_export', {'id': questionnaire.id, 'page': page })}}/' + id;
 	 });
    
    </script>
{% endblock %}

	
</div>