{% extends 'base.html.twig' %}

{% block title %}Tester votre questionnaire{% endblock %}

{% block body %}

<h1>Démo</h1>

<a class="btn btn-sm btn-secondary" href="{{ path('questionnaire_see', {'id':questionnaire.id}) }}"><span class="oi oi-arrow-thick-left"></span> Retour</a>

<div class="alert alert-light">
	{{ questionnaire.description }}
</div>

<div class="row" style="margin-right:0px;">
	<div class="col-7">
    	<fieldset>
    		<legend>Démo du questionnaire #{{ questionnaire.id }}</legend>
    	
            {{ questionnaire(questionnaire, {
            	'submit_url' : path('questionnaire_demo', {'slug': questionnaire.slug }),
            	'statut' : 'demo',
        		'resultat' : questResultat,
        		'current_user' : app.user
            }) | raw }}
        </fieldset>
    </div>
    <div class="col-5">
    	<fieldset>
    		<legend>Résultats Attendus</legend>
    		<br />
            {{ displayDataToSave(questResultat) | raw }}
    	</fieldset>
    </div>  
</div>
{% endblock %}
