{% extends 'base.html.twig' %}

{% block title %}
Edition d'un questionnaire
{% endblock %}

{% block body %}

<h1>
	Modification du questionnaire
	{{ questionnaire.titre }}
</h1>

{% include 'elements/arborescence.html.twig' %}

<fieldset>
    {{ form_start(form) }}
    
    {{ form_row(form.slug) }}
	{{ form_row(form.titre, {"id":"questionnaire_titre"}) }}
	
	{{ form_row(form.description) }}
	{{ form_row(form.date_fin) }}
	{{ form_row(form.jour_relance) }}
	
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</fieldset>

{% endblock %}