{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<h1>Gestion des questionnaires</h1>

{% include 'elements/arborescence.html.twig' %}

<div class="card">
	<div class="card-header">
    	{{ pagination.nb_elements }} questionnaires - Page {{ pagination.page }} / {{ pagination.pages_count }}
		<a href="{{ path('questionnaire_add', {'page' : pagination.page}) }}" class="float-right"><span class="oi oi-person"></span> Nouveau questionnaire</a>
		{{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
  	</div>
  	
  	  	<div class="card-body">
      	<table class="table table-sm table-striped">
        	<tr>
        		<th>{{ headerFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : 'titre'} ), 'Titre', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : 'jour_relance'} ), 'Nb jours avant relance', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : 'date_creation'} ), 'Date de création', current_order, current_field) | raw }}</th>
        		<th>{{ headerFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : 'date_fin'} ), 'Date de fin', current_order, current_field) | raw }}</th>
        		<th></th>
        	</tr>
        	<tr>
        		<td>{{ inputFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Questionnaire-id', current_search, 'Identifiant') | raw }}</td>
        		<td>{{ inputFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Questionnaire-titre', current_search, 'Titre') | raw }}</td>
        		<td>{{ inputFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Questionnaire-jour_relance', current_search, 'Jour de relance') | raw }}</td>
        		<td>{{ inputFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Questionnaire-date_creation', current_search, 'Date de création') | raw }}</td>
        		<td>{{ inputFilter(path('questionnaire_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Questionnaire-date_fin', current_search, 'Date de fin') | raw }}</td>
        		<td></td>
        		<td></td>
        	</tr>
	        {% for questionnaire in questionnaires %}
        	<tr>	        
	        {#
	        {% for question in questionnaire.questions %}
					{{ question.libelle }}
					<br />
		      {% endfor %}#}
		            
		            <td>{{ questionnaire.id }}</td>
		            <td>{{ questionnaire.titre }}</td>     		 
            		<td>{{ questionnaire.jourRelance }}</td>
            	   	<td>{{ questionnaire.dateCreation |date("d/m/Y H:i") }}</td>
            	   	<td>{{ questionnaire.dateFin |date("d/m/Y H:i") }}</td>
            	   	<td>
        			    {{ actionSee(path('questionnaire_see', {'id' : questionnaire.id, 'page' : pagination.page})) | raw }}
        			    {{ actionEdit(path('questionnaire_edit', {'id' : questionnaire.id, 'page' : pagination.page})) | raw }}
           			    {% if is_granted("ROLE_ADMIN") %}
        			        {{ actionDelete(questionnaire.disabled, path('questionnaire_delete', {'id' : questionnaire.id, 'page' : pagination.page})) | raw }}
        			    {% endif %}
        			</td>
          	</tr>         
            {% endfor %}
        </table>
  	</div>
  	<div class="card-footer">
    	{% include 'elements/pagination.html.twig' %}
  	</div>
</div>
{% endblock %}
