{% extends 'base_questionnaire.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="float-right mt-3">
		<i class="text-white">Identifié(e) en tant que {{ membre.prenom }} {{ membre.nom }}</i>
	</div>
<h1>
	Questionnaire
</h1>

<div class="alert alert-light">
	{{ questionnaire.description }}
</div>

<div class="row" style="margin-right:0px;">
	<div class="col-12">
		{% if validateSubmit %}
			<div class="card shadow">
              <div class="card-header">
                <span class="text-success"><span class="oi oi-check"></span> Vos réponses ont bien été enregistrées avec succès</span>
              </div>
            <div class="card-body">
                
                <p class="card-text">{{ questionnaire.DescriptionAfterSubmit | nl2br }}</p>
                <a href="#" class="btn btn-primary">Retour vers ma page membre</a>
              </div>
            </div>
		
		{% else %}
    	<fieldset>
    		<legend>{{ questionnaire.titre }}</legend>
    	
            {{ questionnaire(questionnaire, {
            	'submit_url' : path('questionnaire_prod', {'slug': questionnaire.slug }),
            	'statut' : 'prod',
        		'resultat' : questResultat,
            }) | raw }}
        </fieldset>
        {% endif %}
    </div> 
</div>
{% endblock %}
