{% extends 'base.html.twig' %}

{% block title %}
Fiche d'un questionnaire
{% endblock %}

{% block body %}

<h1>
	Questionnaire 
	#{{ questionnaire.id }}
</h1>


{% include 'elements/arborescence.html.twig' %}


<div id="bloc_questionnaire">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="progress" style="height: 25px;">
				<div class="progress-bar progress-bar-striped progress-bar-animated"
					role="progressbar" aria-valuenow="75" aria-valuemin="0"
					aria-valuemax="100" style="width: 50%">Chargement des
					informations du questionnaire...</div>
			</div>
		</div>
	</div>
</div>

		<!-- Modal -->
<div class="modal fade" id="modal_questionnaire_global" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" id="bloc_modal"></div>
	</div>
</div>

{% endblock %}

 {% block script %}
 	<script src="{{ asset('assets/js/questionnaire/Questionnaire.js') }}?{{ date().timestamp }}"></script>
 	<script src="{{ asset('assets/js/question/Question.js') }}?{{ date().timestamp }}"></script>
 {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				url_ajax_see : '{{path('questionnaire_ajax_see', {'id': questionnaire.id }) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_questionnaire_global',
				id_global : '#bloc_questionnaire',
		};
        
		Questionnaire.Launch(params);
		Questionnaire.LoadQuestionnaire();

		Question.Launch(params);
    });
    
    </script>
{% endblock %}
