{% extends 'base.html.twig' %}

{% block title %}
Statistiques du questionnaire {{ questionnaire.titre }}
{% endblock %}

{% block body %}

<h1>
	Liste des membres ayant répondu au questionnaire
</h1>


{% include 'elements/arborescence.html.twig' %}


<div id="stats_questionnaire">

	<div class="row">
		<div class="col-3">
			<form action="{{ path('questionnaire_stats', {'id' : questionnaire.id}) }}" method="POST">
    		<div class="input-group mb-3">
      			<input type="text" class="form-control" placeholder="Rechercher..." name="search_membre_stats" value="{{ search }}">
      			<div class="input-group-append">
        			<button class="btn btn-primary" type="submit"><span class="oi oi-magnifying-glass"></span></button>
        			{% if search != '' %}
      					<button class="btn btn-secondary" type="button" id="btn-reset-search"><span class="oi oi-x"></span></button>
      				{% endif %}
      			</div>
    		</div>
    		</form>
		</div>
	</div>
	
	<div>
	 {{ pagination.nb_elements }} membre{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
	
	</div>

	{{ displayMembreWithReponse(liste_membres, questionnaire) | raw }}
	
	{% include 'elements/pagination.html.twig' %}
	
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    	$('#stats_questionnaire #btn-reset-search').click(function() {
        	window.location = '{{ path('questionnaire_stats', {'id' : questionnaire.id}) }}';	
       	})
	</script>
{% endblock %}
